@use 'sass:map';
@use '../../styles/variables';

@media (max-width: variables.$mugen-breakpoint-large) {
	.karaLineButton {
		min-height: 3em;
		font-size: 1.25em;

		&.showPlaylistCommands {
			width: 2.75em;
		}
	}
}

.karaLineButton.yellow {
	color: map.get(variables.$mugen-colors, 'yellow');
}

.currentUpvote {
	color: orangered;
}

button.on {
	background: #3c5c00;
}
button.off {
	background: #880500;
}
