@import '../../styles/variables';
@import '../../styles/components/blurred-bg';

 .modal-content {
	max-height: 85vh;
	overflow: auto;
 }

.modal-header.img-background {
	flex-direction: column;
	position: relative;
	--img: none;
	@include blurred-bg;
	&.fixed {
		width: 95%;
		margin: auto;
		@media screen and (min-width: $mugen-breakpoint-large) {
			width: 75%;
		}
	}
	> * {
		position: relative;
		text-shadow: 2px 2px 2px #000000bf;
		z-index: 2;
	}
}


.modal-header-title {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	.modal-title-block {
		flex-grow: 2;
		overflow-wrap: anywhere;
	}
	.transparent-btn {
		background: none;
		border: none;
		color: white;
		font-size: 2rem;
		@media screen and (max-width: $mugen-breakpoint-small) {
			font-size: 1.25rem;
		}
		cursor: pointer;
		text-shadow: 2px 2px 2px #000000bf;
	}
}

.detailsKara {
	margin: 0.5em;

	.centerButtons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		button {
			margin: 0.25em;
			text-align: left;
			span {
				margin-left: .5em;
			}
		}
	}
	.detailsKaraTitle {
		font-weight: bold;
		padding-right: .5em;
		white-space: nowrap;
	}
	.lyricsKara {
		display: flex;
		flex-direction: column;
	}
	.detailsKaraLine {
		display: flex;
		flex-direction: column;
		margin: 1em 0;
		i {
			margin-right: .5em;
		}
	}
}

@media screen and (max-width: $mugen-breakpoint-large) {
	.detailsKara .centerButtons {
		flex-direction: column;
	}
}

.currentFav {
    color: #F3C71E !important;
}

.problematicTag {
	color: orange;
}

.tagConteneur {
	display: flex;
	@media screen and (max-width: $mugen-breakpoint-large) {
		margin: 0;
		flex-wrap: wrap;
		.tag {
			margin-top: .4em;
			font-size: .9em;
			padding: .125em .25em !important;
		}
	}
	.tag {
		background-color: $mugen-tag-default;
		@each $name, $color in $mugen-colors {
			&.#{$name} {
				background-color: $color;
				color: white;
			}
		}
		padding: .25em .75em;
		margin-right: .4em;
		text-align: center;
		font-weight: bold;
		color: #aaa;
		box-shadow: 0 6px 8px 2px #00000005, 0 1px 5px 2px #00000004, 0 2px 3px -1px #00000005;
		text-shadow: none;
		border-radius: 5px;
		float: right;
		z-index: 250;
	}
}

.colored {
	@each $name, $color in $mugen-colors {
		&.#{$name} {
			color: saturate(lighten($color, 40), 25);
		}
	}
}
