@import '~antd/dist/antd.dark.css';
@import '../toast';

.ant-layout-content {
	padding: 1em;
}

.km-system-btn-group {
	margin-top: 1em;
	> a {
		.ant-btn {
			margin: .5em 0;
		}
		&:first-child .ant-btn {
			margin-top: 0;
		}
		&:last-child .ant-btn {
			margin-bottom: 0;
		}
	}
}

.ant-layout-header {
	height: auto;
	line-height: normal;
	padding: 1em;
	background: #141414;

	.title {
		font-size: 1.75em;
		font-weight: bold;
	}
	.description {
		font-size: 1em;
	}
}

.ant-menu-item {
	display: flex;
	align-items: center;

	& > a {
		display: block;
		line-height: initial;
		white-space: pre-wrap;
	}
}

.UI-notification-loading .ant-spin-nested-loading {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-form-item {
  text-align: left;
}

.UI-notification-loading .ant-spin-container {
  display: none;
}

@keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

.pathFolders {
	word-break: break-all;
}

.menuItemInactive {
	pointer-events: none;
}
