
.blacklist-criterias-input {
	background-color: rgba(51, 51, 51, 0.67);
	padding: 10px;

	select {
		margin: 5px 0px;
		background-color: #343434;
		color: white;
		border-radius: 0;
		border: 1px solid #fafafa70;
		height: 30px;
		padding: 5px 10px;
		font-size: 12px;
		line-height: 1.5;
	}

	.input-blc {
		width: 100%;
		margin: 5px !important;
		height: 30px;
		padding: 5px;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 3px;
	  }
}
