
.lyricsKara {
	background-color: #303340;
	text-align: center;
	text-transform: none;
 }

 .lyricsKaraLoad {
	max-height: 95vh;
	overflow: auto;
 }

 .lyricsKara button.closeParent {
	position: absolute;
	right: 3em;
}
.lyricsKara button.closeParent:last-child {
	bottom: 2%;
}

.detailsKara .topRightButtons, .karaCard .details .topRightButtons {
	position: absolute;
	right: 10px;
}

.detailsKara .topRightButtons {
	height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}
.topRightButtons button {
	margin: 3px;
	text-align: left;

	span {
		margin-left: 5px;
	}
}
.topRightButtons button.mobile {
	margin: 5px;
	height: 42px;
	width: 42px;
}

.karaCard > div {
	display: none;
}

.detailsKara, .karaCard .details, .lyricsKara {
	min-height: 56px;
	padding: 10px;
	margin: 0;
	color: #cee1ea;
	background-color: hsla(201, 13%, 22%, 0.9);
	border-color: transparent;
	border-radius: 0px;
	position: relative;
}

.detailsKara tr > td:first-child, .karaCard .details tr > td:first-child {
	font-weight: bold;
	padding-right: 7px;
	white-space: nowrap;
}
.detailsKara tr, .karaCard .details tr {
	vertical-align: top;
}


.detailsKara .time, .karaCard .details .time {
	color: #DDC5EA;
}
.karaCard div.details {
	background-color: hsla(166, 22%, 18%, 1)
}

.fullLyrics.mobile, .makeFav.mobile, .showVideo.mobile {
	border-color: transparent;
	background-color: hsla(0, 0%, 32%, 0.87);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 5px -1px rgba(0, 0, 0, 0.1);
}

.currentFav {
    color: #F3C71E !important;
}

.problematicTag {
	color: orange;
}

@media (max-width: 1023px) {

	.fullLyrics, .showVideo, .makeFav {
		width: 46px;
		height: 46px;
		font-size: 18px;
	}
}