.playlist--wrapper,
.playlist--wrapper * {
	box-sizing: border-box;
}

.playlist--wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	> * {
		flex:auto;
	}
}

.playlist-dragged-item {
	list-style: none;
	.list-group-item  {
		background: #333;
	}
	.actionDiv, .infoDiv {
		display: none;
	}
}

.playlistContainer {
	overflow: auto;
}