#progressBar {
	cursor: pointer;
	min-height: 24px;
	width: 100%;
	position: relative;
	border-bottom: solid 1px hsla(0, 0%, 35%, 1);
	background-color: #1E2124;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 1px 8px 0 rgba(0, 0, 0, 0.21), 0 3px 4px -1px rgba(0, 0, 0, 0.24);
	
	#progressBarColor {
		height: 24px;
		position: absolute;
		background-color: #337ab7;
		border-bottom: solid 1px hsla(0, 0%, 35%, 1);
		z-index: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		
		&:hover  {
			background-color: #286faa;
		}
		&:active {
			background-color: #18617a;
		}
	}

	#karaInfo {
		line-height: 1.83;
		text-align: center;
		z-index: 10;
		position: absolute;
		top: 0;
		width: 100%;
		font-weight: 600;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}