<!doctype html>

<html>

<head>
    <meta charset="utf-8">

    <title>Karaoke Mugen - ADMIN</title>
    <meta name="description" content="karaoke">
    <meta name="author" content="mugen.karaokes.moe">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    
    <link rel='shortcut icon' type='image/x-icon' href='/ressources/favicon2.ico' />

    <link rel="stylesheet" href="/build/app.css">
</head>

<body>
	{{{ body }}}
    <a id="downloadAnchorElem"></a>
</body>
    <script>
        var scope = 'admin';
        var query = {{{query}}};
        var webappMode = {{webappMode}};
        var appFirstRun = {{appFirstRun}} == true;

    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/ressources/vendors/js/iso_639-2.js"></script>
    <script src="/ressources/vendors/js/assignIE.js"></script>
    <script src="/ressources/vendors/js/jquery-3.2.1.min.js"></script>
    <script src="/ressources/vendors/js/select2.min.js"></script>
    <script src="/ressources/vendors/js/bootstrap.min.js"></script>
    <script src="/ressources/vendors/js/bootstrap-switch.min.js"></script>
    <script src="/ressources/vendors/js/jquery-ui.min.js"></script>
    <script src="/ressources/vendors/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/ressources/vendors/js/hammer.min.js"></script>
    <script src="/ressources/vendors/js/hammer-time.min.js"></script>
    <script src="/ressources/vendors/js/velocity.min.js"></script>
    <script src="/ressources/vendors/js/perfect-scrollbar.jquery.min.js"></script> 
    <script src="/ressources/vendors/js/i18n.js"></script>
    <script src="/ressources/vendors/js/intro.js"></script>
    <script src="/ressources/vendors/js/sprintf.min.js"></script>
    <script src="/build/app.js"></script>
    <script src="/ressources/js/karaokemugen.js"></script>
    <script src="/ressources/js/tools.js"></script>
    <script src="/ressources/js/admin.js"></script>
</html>