{
  "presets": [
    "stage-2",
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "ignore": [
    "node_modules",
    "src/_webapp/ressources",
	"src/_webapp/vendors",
	"src/_dashboard"
  ]
}