{
  "presets": [
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "ignore": [
    "node_modules",
    "src/_webapp/ressources",
    "src/_webapp/vendors"
  ]
}
