.DS_Store
.idea/
.npmrc
.vscode
node_modules
app/
npm-debug.log
*.exe
karaokemugen*.log
out/
doc/
\.DS_Store
*.backup
config\.ini
*.bak
karaokemugen-app-linux
karaokemugen-app-macos
dist/
apidoc/
bin/
