.DS_Store
.idea/
.npmrc
.vscode
node_modules
app/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.exe
karaokemugen*.log
out/
doc/
\.DS_Store
*.backup
config\.ini
config\.ini_old
config\.yml
database\.json
*.bak
karaokemugen-app-linux
karaokemugen-app-macos
dist/
apidoc/
bin/
logs/
updater/
mpv.log
karaokemugen.pgdump
karaokemugen.sql

# System panel
systempanel/node_modules
systempanel/coverage
systempanel/build
react_client
react_systempanel/

# Frontend
.cache/
frontend/build/

# sessions export
*.played.csv
*.playedCount.csv
*.requested.csv
*.requestedCount.csv
