[submodule "src/lib"]
	path = src/lib
	url = ../lib
[submodule "assets/guestAvatars"]
	path = assets/guestAvatars
	url = ../../medias/guest-avatars
[submodule "assets/systemRepo"]
	path = assets/systemRepo
	url = ../../bases/system.git
