// Minireset
@use 'minireset.css/minireset';
@use 'styles/variables';

// Our stylesheet
@use 'styles/components/buttons';
@use 'styles/components/dropdowns';
@use 'styles/components/decorators';
@use 'styles/components/details';
@use 'styles/components/settings';
@use 'styles/components/tags';
@use 'styles/components/input';
@use 'styles/components/loader';
@use 'styles/components/titles';

// React Toastify
@use '../toast';

// Fonts
@use 'styles/fonts/Lato/stylesheet';

@use 'styles/al-icons/css/al-icons.css';

// FontAwesome
@use '@fortawesome/fontawesome-free/css/all.min.css';

// Virtual element to be probed by KmAppWrapperDecorator to workaround URL bar resizing
// https://developers.google.com/web/updates/2016/12/url-bar-resizing
#height-compute {
	position: absolute;
	height: 100vh;
	width: 0;
	display: none;
}

body {
	font-family: Lato, 'Helvetica Neue', Cantarell, sans-serif;

	// Don't set the background here
	// It's defined in index.html instead, so it can be easily overridden by tools like OBS
	// background: variables.$mugen-background;

	color: white;
	&.no-scroll {
		overflow: hidden;
	}
}

a {
	color: unset;
	&:visited {
		color: unset;
	}
}
