#adminPage {
	height:100vh;

	.playlist-main, .panel  {
		height: 100%;
	}

	#manage, #manage > .panel  {
		height: 100%;
	}
	#manage > .panel {
		overflow: auto;
		background-color: transparent;
	}
	#settings {
		background-color: #2d2d2f;
		padding: 0;
	}
	.settingsGroupPanel {
		padding: 16px 0px;
		background-color: #304c725c;
		border: solid #585b65;
		border-width: 0px 0px;
		padding: 7px 0px;
	}
	.subCategoryGroupPanel {
		background-color: #41485e61;
		border-width: 1px 0px;
	}
	

	.list-group > li > button {
		position: absolute;
		right: 0;
		height: 100%;
		top: 0;
	}

	#playlist2.list-group > li > button {
		left:0;
		border-left-width: 0;
		border-right-width: 3px;
	}

	.actionDiv {
		display: flex;
		flex-direction: row;
		float: right;
	}

	#panel2 .actionDiv {
		flex-direction: row-reverse;
	}

	span[name="checkboxKara"] {
		padding: 2px 6px;
		font-size: 19px;
		float: right;
	}
	#panel2 span[name="checkboxKara"] {
		float: left;
	}

	span[name="checkboxKara"], [name="selectAllKaras"], .addBlacklistCriteria {
		font-family: 'Glyphicons Halflings'; 
	}

	.btn-danger-low, .btn-danger-low:focus {
		background-color: #1E2124;
		border: 0px solid #1E2124;
		color: white;
	}
	.btn-danger-low[name="stopAfter"] {
		border: 0px solid #9e9e9e;
		border-left-width: 2px;
	}

	.btn-danger-low:hover {
		background-color: #793230;
		color: white;
	}

	.btn-danger-low:active {
		background-color: #773b3b;
		color: white;
	}

	.playlist-main .list-group-item.ui-sortable-helper {
		background-color: #222;
	}
	.playlist-main li.list-group-item.deleted {
		opacity: .2;
	}

	.playlistCommands {
		position: absolute;
		bottom: 0;
		overflow: hidden;
	}
	.playlistCommands > span {
		position: relative;
		overflow: hidden;
	}
	#playlistCommand1 {
		left: 0;
	}
	#playlistCommand2 {
		right: 0;
	}

	.playlistCommands .showPlaylistCommands {
		opacity: .7;
		z-index: 900;
	}
	.playlistCommands .showPlaylistCommands:hover, .playlistCommands .showPlaylistCommands.btn-primary {
		opacity: 1.0;
	}
	span.hideCommands {
		position: relative;
		margin-left: -270px !important;
		transition: all .5s ease;
	}
	span:not(.hideCommands) {
		transition: all .5s ease;
		margin-right: 0;
	}

	span.hideCommands {
		position: relative;
		margin-left: -270px !important;
		transition: all .5s ease;
	}
	span:not(.hideCommands) {
		transition: all .5s ease;
		margin-right: 0;
	}

	#panel2 .actionDiv {
		float: left;
	}

	#panel1 .actionDivContainer {
		margin-left: auto;
	}

	#panel2 .actionDivContainer {
		margin-right: auto;
	}
	.panel-heading > div > div:nth-child(2) {
		padding-left: 4px;
	}

	.plDashboard .flags {
		margin-left: auto;
	}

	button[name="addRandomKaras"] {
		padding: 5px 9px;
	}
	button[name="addRandomKaras"] > img{
		margin-top: -6px;
		width: 18px;
		filter: brightness(90%);
	}

	button[name="smartShuffle"] > i {
		font-weight: bold;
		color: black;
		text-shadow: -1px -1px 0 hsla(0, 0%, 100%, .85), 1px -1px 0 hsla(0, 0%, 100%, .85), -1px 1px 0 hsla(0, 0%, 100%, .85), 0.5px 0.5px 0 hsla(0, 0%, 100%, .85);
	}
	.panel-heading ::-webkit-input-placeholder {
		font-size: 17px;
		line-height: 34px;
		padding-top: 0px;
		height: 34px;
		text-align:right; 
		font-family: 'Glyphicons Halflings'; 
	}

	.panel-heading  ::-moz-placeholder {  /* Firefox 19+ */
		font-size: 17px;
		line-height: 20px;
		padding-top: 0px;
		height: 34px;
		text-align:right; 
		font-family: 'Glyphicons Halflings';  
	}
	.panel-heading  :-ms-input-placeholder {
		font-size: 17px;
		line-height: 34px;
		padding-top: 0px;
		height: 34px;
		text-align:right; 
		font-family: 'Glyphicons Halflings'; 
	}
	
	.plSearch {
		order: 2;
	}
	.flagsContainer {
		order: 1;
	}
	.advanced .actionDivContainer {
		order: 3
	}

	.automixUserlist {
		max-height: 200px;
		overflow-y: auto;
	}

	.disabled {
		pointer-events: none;
		cursor: not-allowed;
		opacity: 0.66;
	}

	@media (max-width: 1520px) {	
		.plDashboard .plSelect {
		flex-basis : 50%;
		}
		#panel2 .plSearch {
			order: 5;
		}
	}

	@media (max-width: 1380px) {	
		#panel2 .flagsContainer {
			order: 4;
		}
	}

	@media (max-width: 900px) {	
		.plDashboard .plSearch {
			flex-basis : 30%;
		}
		.plDashboard .plSelect {
			flex-basis : 20%;
		}
		#panel2 .plSearch {
			order: 1;
		}
		#panel2 .actionDivContainer {
			order: 2;
		}
		#panel2 .flagsContainer {
			order: 3;
		}
	}
}