#welcomePage {
    height:100vh;
    
    html,  body, #center-area {
        height: 100%;
    }
    body {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        color: #3b4045;
        font:14px/22px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 300;
        margin: 0px;
    }
    h1 {
        font-size: 44px;
        line-height: 56px;
        color: #fff;
    }
    h2 {
    font-size: 30px;
    line-height: 35px;
    }
    h3 {
        font-size: 23px;
        line-height: 25px;
    }
    h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    }
    p {
        font-size: 16px;
        line-height: 25px;
        margin: 0px;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    a, li {
        transition: all 0.5s ease-in-out 0s;
    }

    a:focus,
    .btn:focus,
    .btn:active:focus {
        box-shadow: none;
        outline: 0 none;
    }
    a,
    a:active,
    a:focus,
    a:active {
        text-decoration: none;
    }

    .section {
        padding: 100px 0;
    }
    .btn {    
        border-radius: 0;
    }

    .btn-home {
    background-color: hsla(274, 49%, 34%, 0.3);
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    font-size: 18px;
    padding: 10px 40px;
    margin-top: 30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    }

    .btn-home:hover,
    .btn-home:focus {
        background-color: #fff;
        color: #555;
    }

    .btn-border {
        border: 1px solid #fff;
        padding: 13px 40px;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        text-shadow: none;
    }


    #center-area {
        padding: 0;
        background: rgba(0, 0, 0, 0) linear-gradient(135deg, hsla(205, 39%, 20%, 1) 0%, hsla(151, 17%, 40%, 1) 100%) repeat scroll 0 0
    }
    #center-area > .container,
    #center-area > .container > .row {
        height: 100%;
        padding: 5px;
    }
    .logoDiv {
        padding-top: 80px;
        margin-bottom: 20px;
    }
    .catchPhrase {
        font-size: 16px;
    }
    #center-area .block {
    padding-top: 5px;
    }
    #center-area .block h1.wow {
    margin-bottom: 35px;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 6px;
    position: relative;
    }
    #center-area h1.wow:before {
        content: "";
        position: absolute;
        left: -6px;
        bottom: -12px;
        background: #ffffffad;
        height: 2px;
        width: 51%;
        transform: translateX(50%);
    }

    .navbar-default {
        padding:20px;
    }

    /* #center-area  */

    #center-area .menu .tutorialText {
        display: none;
    }
    #center-area .tutorial .normalText {
        display: none;
    }
    #center-area .tutorial .tutorialText {
        display: block;
    }
    .tutorial {
        border: 3px solid  #d83838a8;
    }
    .animated .logo-2 {
        display: block!important;
    }
    .logo-1, .logo-2 {
        position: relative;    
        margin-bottom: 5px;
        margin-left: 3px;
        transform: translateX(-50%);
        left: 50%;
        filter: hue-rotate(427deg) saturate(0) brightness(156%);
    }
    .animated .logo-1 {
        display: none!important;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default.animated .navbar-nav > li > a:hover {
        color: #009ee5;
    }
    .navbar-default {
        background-color: transparent;
        transition: all 0.3s ease-in-out 0s;
    }

    .navbar-default.animated {
        background-color: #fff;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.15);
        padding:10px;
    }

    .navbar-default {
        background-color: transparent;
        border: 0;
        transition: all 0.3s ease-in-out 0s;
    }
    .navbar-default .navbar-brand {
        color: #EEE;
        padding: 5px 0;
    }
    .navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-nav > li > a:hover {
        color: #fff;
        position: relative;
    }
    .navbar-default.animated .navbar-nav > li > a,
    .navbar-default.animated .navbar-nav > li > a:hover {
        color: #000;
    }
    .navbar-default .navbar-nav > li.current > a {
        color: #fff;
    }
    .navbar-default.animated .navbar-nav > li.current > a {
        color: #82c25a;
    }
    #center-area .navbar-default .navbar-nav {
        padding-top: 11px;
        padding-right: 60px;
    }
    #center-area .navbar-default .navbar-nav li {
        padding: 0px 15px;
    }
    #center-area .navbar-default .navbar-nav li a {
        color: #fff;
        padding: 10px 0px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
    #center-area a {
        color: hsla(208, 91%, 79%, 1);
    }
    #center-area li.new .new-header > a {
        float: right;
    }
    #center-area li.new .new-header{
        position: relative;
        margin-bottom: 14px;
    }
    #center-area li.new .new-header:after {
        content: "";
        position: absolute;
        left: -50%;
        bottom: -9px;
        background: #ffffff60;
        height: 2px;
        width: 200%;
    }
    #center-area li.new[type="mast"] .new-header:after {
        background: #ffffff60;
    }
    #center-area li.new[type="app"] .new-header:after {
        background: #ffbd79bd;
    }
    #center-area li.new[type="base"] .new-header:after {
        background: #d46cb9ad;
    }

    #center-area .block,
    #center-area .counter.wow {
        background: rgba(255, 255, 255, 0.2);
        margin: 5px;
        padding:13px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
    }

    #center-area .block h2 {
        color: #fff;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 5px;
        padding-bottom: 19px;
        text-align: center;
    }
    #center-area > .container > .row,
    .news ul {
        display: flex;
        flex-direction: column;
    }
    .new h1 {
        font-size: 25px;
    }
    #center-area > .container > .row > div{
    flex: 0 0 auto;
    }
    #center-area > .container > .row > div:last-child {
        flex-shrink: 1;
        overflow: auto;
    }

    ul.news li.new {
        flex: 0 1 auto;
        width: 100%;
        text-align: left;
        font-size: 110%;
        margin-bottom: 5px;
        background-color: hsla(0, 12%, 24%, 0.4) !important;
        max-height: 200px;
        overflow: hidden;
        position: relative;
    }
    li.new.overflowed:before {
        content:'';
        width:100%;
        height:100%;    
        position:absolute;
        left:0;
        top:0;
        background:linear-gradient(transparent 150px, hsl(165, 4%, 37%));
    }
    li.new.open:before {
        display: none;
    }
    ul.news li.new.open {
    max-height: none;
    }
    #welcome_dashboard {
        display: flex;
    }
    #center-area .menu > ul  > li {
        text-align: center;
        padding: 25px 28px 20px;
    }
    #center-area .block.wow > ul > li,
    #center-area .news li.new {
        background-color: rgba(255, 255, 255, 0.3);
        color: #fff;
        display: inline-block;
        line-height: 25px;
        padding: 10px 15px 10px;
        flex-grow: 1;
        flex-basis: 0;
        margin-bottom: 3px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        cursor: pointer;
    }
    #center-area .menu ul li:nth-child(1) {
        background-color: hsla(234, 44%, 67%, 0.2)
    }
    #center-area .menu ul li:nth-child(2) {
        background-color: hsla(140, 47%, 67%, 0.2);
    }
    #center-area .menu ul li:nth-child(3) {
        background-color: hsla(60, 50%, 58%, 0.2)
    }
    #center-area .menu ul li:last-child {
        background-color: hsla(0, 12%, 54%, 0.4)
    }

    #center-area .menu ul li:nth-child(1):hover {
        background-color: hsla(234, 44%, 47%, 0.2)
    }
    #center-area .menu ul li:nth-child(2):hover {
        background-color: hsla(140, 47%, 47%, 0.2);
    }
    #center-area .menu ul li:nth-child(3):hover {
        background-color: hsla(60, 50%, 38%, 0.2)
    }
    #center-area .menu ul li:nth-child(4):hover {
        background-color: hsla(0, 22%, 34%, 0.4)
    }

    #center-area ul li:active {
        background-color: rgba(255, 255, 255, 0.12);
    }

    #center-area ul li span {
        font-size: 16px;
        font-weight: 300;
    }
    #center-area ul li .digit {
        display: inline-block;
        font-size: 50px;
        font-weight: 300;
        line-height: 50px;
        position: relative;
        overflow: hidden;
        height: 60px;
    }
}