#publicPage {
    height:100vh;

    #progressBar {
        top: 0;
        cursor: auto;
        font-size:  17px;
    }
    #progressBarColor, #progressBar {
        height: 30px;
    }

    #karaInfo {
        padding: 0px 5px;
        line-height: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .header button.btn {
        font-size : 21px;
        line-height: 21px;
        width: 60px;
    }

    .header button.btn.favorites {
        order: 3;
    }
    .header button.btn.favorites.on {
        color: firebrick;
    }

    .header {
        z-index: 1337;
        background-color: #1E2124;
        top: 30px;
        height: 60px;
        width: 100%;
        border-bottom: solid 1px hsla(0, 0%, 35%, 1);
    }

    .header > div {
        height: 60px;
        padding: 0px;
    }
    .headerInputs {
        padding: 0px 7px;
        display: flex;
    }
    .header > div > div {
        height: 100%;
        padding: 1px 0px 1px 1px;
    }
    .header .dropdown {
        padding: 0px 0px 0px 0px;
    } 
    .underHeader.mode1 {
        height: calc( 100% - 30px );
    }
    .dropdown-menu > li > a {
        font-size :   21px;
    }

    .panel-heading > div,.panel-heading > div > div, .panel-heading > div > div > div, .panel-heading > div > div > div > input {
        height: 100%;
    }
    .panel-heading > div > div , .panel-heading > div > div > div, .panel-heading > div > div > div > input {
        width: 100%;
    }
    .list-group-item {
        font-size: 14px;
    }
    .playlist-main .list-group-item[user] {
        color: hsla(110, 35%, 78%, 1);
    }

    .header input {
        height: 100%;
        border-radius: 0px;
    }

    .badge {
        font-size: 12px;
    }

    .right-inner-addon i {
    right: 0px;
    left: auto;
    }

    #searchParent {
        display: flex;
    }

    .header .pseudoChange {
        order: 10;
    }
    .header .getLucky {
        max-width: 60px;
        font-size: 17px;
        line-height: 17px;
        padding: 10px;
        background-color: hsla(0, 0%, 20%, .9);
        border-width: 0px;
        border-bottom: solid 1px hsla(0, 0%, 35%, 1);
        filter: opacity(88%);
        order: 5;
    }
    .header .getLucky:hover {
        background-color: hsla(0, 0%, 14%, 1);
        border-color: #444;
    }

    .header .getLucky:active:focus {
        background-color: hsla(0, 0%, 11%, 1);
        border-color: #222;
    }

    #searchParent ::-webkit-input-placeholder {
        font-size: 2rem;
        line-height:  3rem;
        height: 30px;
        text-align:right; 
        font-family: 'Glyphicons Halflings'; 
    }

    #searchParent  ::-moz-placeholder {  /* Firefox 19+ */
        font-size: 2rem;
        line-height:  3rem;
        height: 30px;
        text-align:right; 
        font-family: 'Glyphicons Halflings'; 
    }

    #searchParent :-ms-input-placeholder {
        font-size: 2rem;
        line-height:  3rem;
        height: 30px;
        text-align:right; 
        font-family: 'Glyphicons Halflings'; 
    }


    .popup .panel-heading {
        display: flex;
    }

    /* experimental, à vérifier */

    .playlist-main, .panel, .playlistContainer, .list-group, .list-group > li.list-group-item, .list-group .contentDiv {
        border-radius: 0;
        touch-action: pan-y !important;
    }
    .playlistContainer {
        overflow-x: hidden;
    }

    .drag  {
        overflow: hidden;
    }   
    .dragged .contentDiv {
        white-space: nowrap;
    }

    .playlist-main  .list-group-item.opened,
    .playlist-main  .list-group-item.opened, .list-group-item.opened:focus, .list-group-item.opened:hover {
        border-color: rgba(177, 177, 177, 0.65);
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 9px 0 rgba(0, 0, 0, 0.1), 0 3px 5px -1px rgba(0, 0, 0, 0.15);
        background-color: hsla(201, 33%, 22%, 0.8)
    }

    .playlist-main  .list-group-item.pressed {
        background-color: hsla(151, 31%, 12%, 0.6);
    }
    .playlist-main  .list-group-item[valid="true"] {
        background-color: hsla(151, 37%, 25%, 0.7);
    }
    .list-group-item > .contentDiv, .playlist-main .list-group-item {
        overflow: hidden;
    }

    body.touch:not(.mode1) .playlist-main .list-group-item:not(.filler)  {
        width: calc(100% - 12px);
        overflow: visible;
    }

    body.touch:not(.mode1)  .list-group-item:not(.filler):after { 
        content:"";
        position: absolute; 
        top:0; 
        right: -24px;
        height: 36px;
        width: 0;   
        border-width: 18px 12px;
        border-style:solid;
        border-color: transparent;
        border-left-color: hsla(0, 0%, 20%, .67);
    }
    body.touch:not(.mode1)  .list-group-item:nth-child(even):after {
        border-left-color: hsla(0, 0%, 27%, 0.6);
    }
    body.touch:not(.mode1) .list-group-item.pressed:after { 
        border-left-color: hsla(151, 31%, 12%, 0.6);
    }

    body.touch:not(.mode1)  .list-group-item[valid="true"]:after { 
        border-left-color: hsla(151, 37%, 25%, 0.7);
    }

    #mobileHelp, #mobileActions {
        display: none;
    }

    .header > div > div.switchParent {
        height: calc(100% - 1px);
        padding: 0;
        display: flex;
    }

    .plSearch {
        flex-grow: 1000;
    }

    #panel1 .plFooter button[value="playing"] {
        display: none;
    }

    .showPoll, .btn-floating.btn-large.showPoll {
        background-color:#9c5600;
    }
    /* mobile */

    .fixed-action-btn.right {
        bottom: 12px;
        left: auto;
        right: 12px;
        position: absolute;
        padding-top: 15px;
        z-index: 9876;
    }
    .fixed-action-btn.right2 {
        bottom: calc(12px + 60px + 12px);
    }
    .fixed-action-btn.right.top {
        bottom: auto;
        top: 12px;
    }

    .btn-floating.btn-large {
        font-size: 23px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transition: .3s;
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
        color: #fff;
        position: relative;
        overflow: hidden;
        z-index: 1;
        line-height: 40px;
        padding: 0;
        background-color: #546e7a;
        text-align: center;
    }
    .btn-large > i {
        line-height: 60px;
        font-weight: 30px;
        text-align: center;
    }
    .fixed-action-btn ul {
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        bottom: 64px;
        margin: 0;
        transition: all .5s ease;

        max-height: calc(100vh - 120px);
        max-width: calc(100vw - 50px);
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: column;
    }

    .fixed-action-btn ul li {
        margin-bottom: 7px;
        list-style-type: none;
    }
    .fixed-action-btn ul {
        padding-left: 0px;
    }
    .fixed-action-btn ul li a {
        transform: scaleY(0.9) scaleX(0.9) translateY(0px) translateX(0px);
    }
    .z-depth-3 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    }
    .z-depth-2 {
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    }

    @media (max-width: 1025px) {

        .toastMessage {
            top: 3px;
        }
        .fullLyrics, .showVideo, .makeFav, .moreInfo {
            width: 46px;
            height: 46px;
            font-size: 18px;
        }

        .deleteCriteria {
            display: none !important;
        }
        .list-group-item:first-child {
            border-top-width: 0px;
        }

        .headerInputs, .header > div > div {
            padding: 0px;
        }
            
        .header button.btn.favorites {
            order: 0;
            display: block;
        }
            
        #searchParent ::-webkit-input-placeholder {
            font-size: 2rem;
            line-height:  3rem;
            height: 60px;
        }

        #searchParent  ::-moz-placeholder {  /* Firefox 19+ */
            font-size: 3rem;
            line-height:  6rem;
            height: 60px;
        }

        #searchParent :-ms-input-placeholder {
            font-size: 2rem;
            line-height:  3rem;
            height: 60px;
        }



        #progressBar {
            box-shadow: none;
        }

        #mobileHelp, #mobileActions {
        display: block;
        }
        .plFooter {
            font-size: 1.5rem;
            width: calc(100% - 70px); /* leaving room for the menu button */
        }
        
        .plInfos { 
            vertical-align: middle;
        }
        .plFooter button {
            height: 26px;
            width: 26px;
            margin: 0px -1px;
        }
        
        .plInfos, .plBrowse {
            float: left;
        }

        #nav-signup input[type="text"],  #nav-signup input[type="password"]:not([exclude="true"]) {
            max-height: 7vh;
            min-height: 32px;
        }
    }

    /* special size for iPad pro */
    @media (max-width: 1025px) and (min-width: 992px) {
        .hidden-msm {
            display: none!important;
        }
        .col-msm-12 {
            width: 100% !important;
        }
    }
}