label.cmp-switch {
	position: relative;
	
	.switch  {
		// hide native input field
		display: none;
		
		& + div {
			vertical-align: middle;
			width: 60px;
			height: 30px;
			border-radius: 999px;
			background-color: #00B0F2;
			transition-duration: .4s;
			transition-property: background-color, box-shadow;
			cursor: pointer;
			
			span {
				font-size: 0; // hide text content
				float: left;
				display: inline-block;
				width: 28px; height: 28px;
				border-radius: inherit;
				background: #ffffff;
				transition-timing-function: cubic-bezier(1,0,0,1);
				transition-duration: 0.4s;
				transition-property: transform, background-color;
				pointer-events: none;
				margin-top: 1px;
				margin-left: 1px;
			}
		}

		&:checked + div {
			background-color: #57BB00;
			
			span {
				transform: translate3d(28px, 0, 0);
			}
		}
	}
}