@mixin blurred-bg {
	--img: none;
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background-image: var(--img);
		background-size: cover;
		background-position-y: center;
		filter: blur(5px) contrast(75%) brightness(75%) saturate(80%);
	}
}
