@use '../variables';

.dropdown-menu {
	background-color: variables.$mugen-btn-background;
	border: variables.$mugen-btn-border;
	cursor: pointer;
	position: absolute;
	list-style: none;
	padding: 5px 0;
	z-index: 60;
}
.dropdown-menu > li {
	padding-top: 5px;
	padding-bottom: 5px;
}
.dropdown-menu > li > a,
.dropdown-menu > li > div:not(.radiobutton-ui) {
	display: inline-block;
	width: 100%;
	padding: 0.2rem 0.5rem;
	color: #eee;
	// Ant Design overrides
	transition: none;
	text-decoration: none;
}

.dropdown-menu > li > a i,
.dropdown-menu > li > div:not(.radiobutton-ui) i {
	margin-right: 0.5em;
}
.dropdown-menu > li:hover > a,
.dropdown-menu > li:hover > div:not(.radiobutton-ui) {
	background-color: variables.$mugen-select-focus;
}
