.loader {
	border: 16px solid #9e9e9e;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	left: calc(50% - 34px * 3 / 2);
	top: calc(50% - 34px * 3 / 2);
	position: absolute;
	width: calc(34px * 3);
	height: calc(34px * 3);
	animation: spin 0.8s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
