@import '../variables';

.settings-page {
	overflow-y: scroll;
}

.settings-panel {
	width: 75vw;
	margin: auto;
}

@media screen and (max-width: $mugen-breakpoint-small) {
	.settings-panel {
		width: 100%;
		margin: 0;
	}
}

.settings-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75em;
	background-color: $mugen-playlist-odd;

	> div {
		display: flex;
		align-items: center;

		input:not([type="range"]) {
			background-color: scale-color($mugen-playlist-odd, $lightness: 15%);
			color: white;
			border: darkgrey 1px solid;
			padding: .5em;
			&:focus {
				border: white 1px solid;
			}
		}
	}
}

.settings-line:not(.subCategoryGroupPanel):nth-child(even) {
	background-color: $mugen-playlist-even;
	> div input:not([type="range"]) {
		background-color: scale-color($mugen-playlist-even, $lightness: 15%);
	}
}

.blur-hover {
	filter: blur(5px);
	transition: filter 1.5s ease;
	margin-right: .5em;
}

.blur-hover:hover {
	filter: unset;
}

#manage, #manage > .panel  {
	height: 100%;
}
#manage > .panel {
	overflow: auto;
	background-color: transparent;
}

.subCategoryGroupPanel {
	background-color: scale-color($mugen-background, $lightness: 5%);
	border: solid scale-color($mugen-background, $lightness: 15%);
	border-width: 1px 0px;
	padding: 0.5em;
	font-size: 1.5em;
	font-weight: bold;
}

#settings {
	background-color: #2d2d2f;
	padding: 0;
}
.settingsGroupPanel {
	border-left: 5px solid #ffffff40;
	min-height: 20px;
	margin-bottom: 10px;
}

.systempanel-tooltip {
	text-align: center;
	a {
		color: unset;
		&:visited {
			color: unset;
		}
	}
	padding: 1em;
}

.input-number-options {
	width: 5em;
}

.input-options {
	color: #555;
}

.label-input-options {
	margin: 0 .5em;
}
