@import '../variables';

.tagConteneur {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	@media screen and (max-width: $mugen-breakpoint-large) {
		margin: 0;
		flex-wrap: wrap;
		.tag {
			margin-top: 0.4em;
			font-size: 0.9em;
			padding: 0.125em 0.25em !important;
		}
	}
	.tag {
		margin-right: 0.4em;
		margin-bottom: 0.2em;
		float: right;
	}
}

.tag {
	background-color: $mugen-tag-default;
	@each $name, $color in $mugen-colors {
		@if $name == 'white' {
			&.#{$name} {
				background-color: $color;
				color: black;
			}
		} @else {
			&.#{$name} {
				background-color: scale-color($color, $lightness: -10%, $saturation: -40%);
				color: white;
			}
		}
	}
	&.problematicTag,
	.problematicTag {
		color: gold;
	}
	&.inline {
		margin: 0 0.5em;
	}
	padding: 0.25em 0.75em;
	text-align: center;
	font-weight: bold;
	color: #aaa;
	box-shadow: 0 6px 8px 2px #00000005, 0 1px 5px 2px #00000004, 0 2px 3px -1px #00000005;
	text-shadow: none;
	border-radius: 5px;
}
