.karaTitle {
	display: flex;
	flex-grow: 1;
	align-items: center;
	flex-wrap: wrap;
	.tag.inline {
		padding: 0.15em 0.2em;
	}
	&.problematic {
		color: orange;
	}
	.karaTitleSerie {
		font-weight: bold;
	}
	.karaTitleTitle {
		font-style: italic;
	}
}
