@import '../variables';

#video {
	z-index: 1000;
	width: 75%;
	height: 75%;
	top: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.overlay {
	background-color: $mugen-video-overlay;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
