/* css admin3 */
html {
	height: 100%;
}
body {
	background-color: #1E2124;
	color: #eee;
	height: 100%;
	margin: 0;
}

.form-control {
	background-color: #f3f3f3;
}

.btn-default {
	background-color: #e8e8e8;
}

.header {
	position: fixed;
	z-index: 2337;
	background-color: #1E2124;
	top: 0;
	height: 85px;
	width: 100%;
	border-bottom: solid 1px hsla(0, 0%, 35%, 1);
}

.header .btn {
	height: 100%;
	width: 85px;
	padding: 0px;
	margin: 0px;
	font-size: 2rem;
}

.header > .btn-group, .header img {
	height: 100%
}

#progressBar {
	cursor: pointer;
	height: 24px;
	width: 100%;
	top: 85px;
	position: fixed;
	z-index: 1337;
	border-bottom: solid 1px hsla(0, 0%, 35%, 1);
	background-color: #337ab7;
}
#progressBarColor {
	height: 24px;
    position: absolute;
	background-color: #1E2124;
	border-bottom: solid 1px hsla(0, 0%, 35%, 1);
	z-index: 0;
    position: absolute;
	left: 0;
    top: 0;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	backface-visibility: hidden;
	perspective: 1000;
	will-change: transform;
    transition: transform 0s linear;
}

#progressBarColor.cssTransform,
.cssTransform {
    transition: transform 1s linear;
}

#progressBar:hover  {
	background-color: #286faa;
}
#progressBar:active {
	background-color: #18617a;
}
#karaInfo {
    line-height: 1.83;
	text-align: center;
	z-index: 10;
    position: absolute;
    top: 0;
	width: 100%;
	font-weight: 600;
}
.btn-danger {
	background-color: #973b3b;
	border-color: transparent;
}
.btn-danger:hover {
	background-color: #994240;
	border-color: #994240;
}

.btn-danger:focus:active {
	background-color: #893230;
	border-color: #893230;
}

.underHeader {
  position: relative;	
  top: 75px;
}

.playlist-main {
  padding: 7px;
}

.panel {
	border: 4px solid #1E2124;
    background-color: #2d2d2f;
    margin: 0px;
	padding: 0px;
	z-index: 0;
}

.panel-heading > div {
	padding: 2px;
}
.panel-heading {
	border-bottom: 7px solid #1E2124;
	padding: 7px 7px;
	z-index: 40;
	background-color: #2d2d2f;
	position: relative;
}
.bootstrap-switch-large:hover, .bootstrap-switch-large:active:hover, .bootstrap-switch-large:focus, .bootstrap-switch-large:visited {
	background-color: #9e9e9e;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
	background-color: #f4f4f4;
	color: #1E2124;
	border-color: #9e9e9e;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary:hover {
	background-color: #373737;
	color: white;
	border-color: #9e9e9e;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:hover {
	background-color: #f4f4f4;
	color: #1E2124;;
	border-color: #9e9e9e;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary{
	background-color: #1E2124;
	color: white;
}

.bootstrap-switch .bootstrap-switch-label {
	background-color: #9e9e9e; ;
}
div.bootstrap-switch-container {
	height: 100%;
	border: none;
}
div.bootstrap-switch-container > span.bootstrap-switch-secondary {
	position: absolute;
    font-size: 1.23rem !important;
}
div.bootstrap-switch-large {
	border-width: 0px;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary {
	line-height: 2.2;
}

.btn, .bootstrap-switch, .bootstrap-switch-secondary, .bootstrap-switch-container > span  {
	border-radius: 0px !important;
}


.btn-dark, .btn-dark:focus {
	background-color: #1E2124;
	border: solid 0px hsla(0, 0%, 35%, 1);
	border-left-width: 1px;
	color: white;
}
.btn-dark:hover {
	background-color: #292929;
	color: white;
}
.btn-dark:active:focus{
	background-color: #444;
	color: white;
}

select.form-control {
	width: 100% !important;
	background-color: #343434;
    color: white;
    border-radius: 0;
}

.list-group-item:focus {
	background-color : #5b5e54;
}
.playlist-main .list-group-item,.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	background-color: hsla(0, 0%, 20%, .67);
	border-color: hsla(0, 0%, 35%, 1);
	border-width: 0px;
	z-index: 20;
	overflow: auto;
	padding: 0px;
	line-height: 3rem;
	__contain: style;
}
.playlistContainer ul > li {
	__transition: height .7s ease !important;
}

.playlist-main .list-group-item:nth-child(even) {
	background-color: hsla(0, 0%, 27%, 0.7);
}

body:not(.touch) .playlist-main .list-group-item:nth-child(even):hover {
	filter: brightness(117%);
}
body:not(.touch) .playlist-main .list-group-item:hover {
	filter: brightness(120%);
}

.playlist-main li.list-group-item[currentlyPlaying] {
	background-color: #3a5064;
}
.playlist-main li.list-group-item[dejavu] {
	background-color: hsla(30, 22%, 29%, 0.6);
}

.playlist-main .list-group-item.liType {
	background-color: #607e97;
	padding-left: 20px;
	min-height: 20px;
	line-height: 24px;
}
.list-group-item.liTag {
	min-height: auto;
	__line-height: 36px;
}

.list-group-item.liTag > .actionDiv {
	padding: 0;
}
.list-group-item.liTag > div {
	padding-top:0;
	padding-bottom:0;
}

.list-group-item.dragged {
	border: none;
	z-index: 200;
	position: absolute;
	width: auto;
	background-color: #222 !important;
}
.list-group-item.dragged > div{
	border: solid 1px hsla(0, 0%, 35%, 1);
	width: auto;
	background-color: #222;
}

.list-group-item > div {
	padding: 3px;
}

.playlistContainer > ul[side="2"] .list-group-item > .infoDiv > button, .playlistContainer > ul[side="1"] .list-group-item > .actionDiv > button, .playlistContainer > ul[side="2"] .list-group-item .dragHandle {
	float: right;
	display: block;
}

.playlistContainer > ul[side="1"] .list-group-item > .infoDiv > button, .playlistContainer > ul[side="2"] .list-group-item > .actionDiv > button, .playlistContainer > ul[side="2"] .list-group-item .dragHandle  {
	float: left;
	display: block;
}
.list-group-item > .actionDiv > button {
	z-index: 52;
	position: relative;
}
.btn-action, .actionDiv > button {
	font-family: 'Glyphicons Halflings'; 
}
button[name="addKara"]:before {
	content:"\2b";
}
button[name="deleteKara"]:before, button.deleteCriteria:before {
	content:"\2212";
}
button[name="transferKara"]:before {
	content:"\2b";
}

button[name="infoKara"]:before {
	content:"\e086";
}
#panel2 .actionDiv > button[name="transferKara"]:before {
	content:"\e091";
}
#panel1 .actionDiv > button[name="transferKara"]:before {
	content:"\e092";
}
.closeParent:before, .closePopupParent:before {
	content:"\e014";
}
.fullLyrics:before {
	content:"\e055";
}
.showVideo:before {
	content:"\e009";
}
.playKara:before {
	content:"\e072";
}

.list-group-item.dragged .dragHandle {
	margin-left: 0px;
	margin-top:3px;
	float: right;
	padding: 0px;
}
.list-group-item .dragHandle {
	height: 100%;
	margin-left: 6px;
    font-size: 2rem;
	cursor: -webkit-grab;
	float: right;
}


.btn-action {
    border: solid 1px hsla(0, 0%, 51%, 1);
	background-color: #393939;
	color: white;
	display: inline-block;
}
.btn-action.btn-sm {
	__width: calc(30px + 19px - 1vw);
	__height: calc(30px + 19px - 1vw);
}
.btn-action.deleteCriteria {
    border: solid 1px hsla(0, 0%, 51%, 1);
	background-color: #393939;
	width: auto;
	height: auto;
	color: white;
	display: inline-block;
}

.btn-action:hover, .btn-action:focus {
	background-color: #292929;
	color: white;
}

.btn-action:active:focus{
	background-color: #444;
	color: white;
}

.playKara {
	__border-color: transparent;
}

.playKara:hover {
	background-color: #286090;
}

.list-group-item > div.detailsKara, .lyricsKara {
	min-height: 56px;
	padding: 10px;
	margin: 0;
	color: #cee1ea;
	background-color: hsla(201, 13%, 22%, 0.9);
	border-color: transparent;
	border-radius: 0px;
	position: relative;
}

.detailsKara tr > td:first-child {
	font-weight: bold;
	padding-right: 7px;
}

.detailsKara .time {
	color: #DDC5EA;
}

.list-group-item .lyricsKara {
	background-color: #303340;
	text-align: center;
	text-transform: capitalize;
 }

.list-group-item .fullLyrics, .list-group-item .showVideo, button.closeParent  {
	position: absolute;
	top: 10px;
	right: 10px;
}
.list-group-item .fullLyrics  {
	right: 49px;
}
.list-group-item .showVideo  {
	right: 88px;
}

.list-group-item .fullLyrics.mobile, .list-group-item .showVideo.mobile {
	right: 10px;
	border-color: transparent;
	background-color: hsla(0, 0%, 32%, 0.87);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 5px -1px rgba(0, 0, 0, 0.1);
}

.list-group-item .showVideo.mobile  {
	right: 62px;
}

button.closeParent.bottom  {
	bottom: 10px;
	top: auto;
}
.list-group-item > .contentDiv {
	padding: 3px 7px;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
}
.list-group-item > .contentDiv > *{
	flex-grow: 1;
}

.list-group-item > .typeDiv {
	border-right : solid 1px hsla(0, 0%, 35%, 1);
	float: left;
	padding: 0px 7px;
	display: none;
}

.playlistContainer {
    __position: relative;
    z-index: 1;
	overflow: auto;
	position: static;
	-webkit-overflow-scrolling: touch;
}
.playlistLoading {
	position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #3a5774;
	font-weight: 500;
	font-size: 1.6rem;
	z-index: 50;
}

.playlist-main ul button  {
	background-color: rgba(57, 57, 57, .7)
}
#playlist1 {
	__background-color: rgba(45, 45, 47, .5);
}
.playlistContainer[flipped]:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/ressources/img/nanami_g_1280w.jpg) no-repeat;
	background-size: 100%;
	background-position: 0 20%;
    width: 100%;
	height: 100%;
    opacity : 0.2;
	z-index: 0;
	filter: grayscale(70%);
}
.playlistContainer[flipped="true"]:after {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.playlistContainer[noGreyFace]:after {
	filter: grayscale(18%);
    opacity : 0.38;
}

.playlistContainer > ul {
	margin-bottom: 20px; /* SUPER IMPORTANT TO AVOID (edit: not really) A WEIRD ASS CHROME BUG DESCRIBED HERE https://github.com/TryGhost/Ghost/issues/7934 */
	will-change: -moz-transform;
	position: relative;
	z-index: 2;
}

#playlist1.list-group > li.list-group-item  > .actionDiv, #playlist1.list-group > li.list-group-item  > .actionDiv > span, 
#playlist2.list-group > li.list-group-item  > .infoDiv {
	float: right;
}

#playlist2.list-group > li.list-group-item  > .actionDiv, #playlist2.list-group > li.list-group-item  > .actionDiv > span,
#playlist1.list-group > li.list-group-item  > .infoDiv {
	float: left;
}

bdg {
	background-color: hsl(213, 20%, 16%);
	padding: 0px 5px;
	margin-left: 2px;
	width: 45px;
	text-align: center;
    font-weight: bold;
    color: #aaa;
    box-shadow: 0 6px 8px 2px rgba(0, 0, 0, 0.02), 0 1px 5px 2px rgba(0, 0, 0, 0.015), 0 2px 3px -1px rgba(0, 0, 0, 0.02);
	float: right;
	z-index: 250;
}

bdgc {
	background-color: hsla(0, 0%, 35%, .91);
	background-color: hsla(174, 8%, 34%, .95);
    color: hsla(0, 0%, 77%, 1);
}

.highlight-active.playlistContainer {
	outline: 3px solid #235a42;
}
.highlight-hover.playlistContainer {
	__background-color:  #233a35;
	outline: 5px solid #235a42;
}

.hLight {
	position :absolute;
	width: 100%;
	z-index:-1;
	left:0;
	top:0;
	height:100%;
	background-color:rgba(120, 148, 86, 0.6);
	opacity: 0;
}

.dropdown-menu {
	background-color: #3b3e44;
	border: solid 1px hsla(0, 0%, 35%, 1);
}
.dropdown-menu > li >a {
	color : #eee;
}

.dropdown-menu > li > a > i {
    margin-right: 4px;
}
.dropdown-menu > li:hover > a {
	color : #222;
	background-color: #9e9e9e;
}

#blacklistCriteriasInputs .select2 {
	display: inline-block;
}
#blacklistCriteriasInputs input {
	height: 34px;
	width: auto;
}
.select2-dropdown {
	z-index: 10000;
}
.panel-heading .select2 {
	width: auto !important;
	overflow:hidden;
}
.panel-heading button.btn-lg {
	height: 46px;
}

.panel-heading .select2-container--bootstrap .select2-selection--single {
	__height: 100%;
	__line-height: 2.3;
}
.select2-container--bootstrap .select2-selection--single, .select2-dropdown {
	border-radius: 0 !important;
	background-color: #f3f3f3;
	font-weight: 600;
}
.select2-container--bootstrap .select2-results__option {
	color: #555;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}
.select2-results__option > span > i, .select2-selection > span > span > i  {
	float: right;
	padding-left: 3px;
}
.select2-selection > span > span > i {
	__line-height: 2.3;
	line-height: 1.35;
}

.toastMessageContainer {
	position: absolute;
	top: 0;
	left: 50%;
    transform: translateX(-50%);
    position: fixed;
	z-index: 10070;
	max-width:600px;
	min-width:250px;
}
.toastMessage {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	padding: 10px;
	margin: 7px;
    box-shadow: 2px 2px 1px #a5a5a5;
	z-index: 10070;
	opacity: 0;
	transition: opacity ease .5s;
}
.toastMessage.dismiss {
	opacity: 0 !important;
}

.contentDiv h {
	background-color : #82bdad;
	color: black;
}

button.closePopupParent {
	z-index: 9998;
	position: absolute;
	top: 5px;
	right: 5px;
	width: auto;
	height: auto;
}


.input-lg, .input-md {
	border-radius: 0;
}
.input-lg {
	padding-top: 15px;
}

.flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

#video {
	z-index: 9200;
	width: auto;
	height: auto;
    top: 50%;
    position: absolute;
    left: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

.overlay {
    background-color: hsla(0, 0%, 17%, 0.67);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Range input sliders */

/* standard slider */

input[type=range]:focus {
	outline: none;
}

.header input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  position: absolute;
  bottom: 0;
  bottom: -33px\0/;	/* specific to IE */
  margin-left: -1px\0/;	/* specific to IE */
  width: inherit;
}


/* settings slider */

#settings input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 11.5px 0;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
  background: #ffffff;
  border-radius: 0px;
  border: 0.1px solid rgba(0, 1, 1, 0.36);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #D8D8D8;;
  height: 18px;
  width: 22px;
  border-radius: 0px;
  background: #575757;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
  background: #ffffff;
  border-radius: 0px;
  border: 0.1px solid rgba(0, 1, 1, 0.36);
}
input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #D8D8D8;
	height: 18px;
	width: 22px;
	border-radius: 0px;
	background: #575757;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -1px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0.1px solid rgba(0, 1, 1, 0.36);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0.1px solid rgba(0, 1, 1, 0.36);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
}
input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #D8D8D8;;
	height: 18px;
	width: 22px;
	border-radius: 0px;
	background: #575757;
	cursor: pointer;
	margin-top: -1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

/* scrollbar stuff */
.ps>.ps__scrollbar-y-rail {
	opacity: .3;
}
.ps.ps--active-y>.ps__scrollbar-y-rail {

}
.ps:hover>.ps__scrollbar-y-rail:hover {
	background-color:rgba(238, 238, 238, .23);
}
.ps:hover>.ps__scrollbar-y-rail {
	opacity: .8;
}
.panel .ps>.ps__scrollbar-y-rail {
	top: -18px !important;
	z-index:9999;
	width: 12px;
}
body[scope="public"] .panel[side="1"] .ps>.ps__scrollbar-y-rail {
	top: 0px !important;
}
.ps__scrollbar-y {
	right: 1px !important;
}
.ps__scrollbar-y,.ps>.ps__scrollbar-y-rail>.ps__scrollbar-y {
	background-color: #ccc;
	width: 7px;
	opacity: 1;
}
.ps>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y,
.ps>.ps__scrollbar-y-rail:active>.ps__scrollbar-y {
	width: 10px;
}
.ps:hover>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y {
	background-color: #ccc;
}
.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y {
	width: 10px !important;
}

/********************************/

.secondaryIcon {
    font-size: 69%;
    margin: 9px 0px 0px -10px;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
	
.plDashboard {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.10), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.16);
}
#progressBar {
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 1px 8px 0 rgba(0, 0, 0, 0.21), 0 3px 4px -1px rgba(0, 0, 0, 0.24);
}

#header {
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.23), 0 1px 12px 0 rgba(0, 0, 0, 0.17), 0 2px 2px -1px rgba(0, 0, 0, 0.26)
}
.plFooter {
	opacity: .93;
    position: absolute;
    bottom: 0;
    right: 0;
	z-index: 10040;
    font-size: 1.2rem;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.30), 0 1px 18px 0 rgba(0, 0, 0, 0.22), 0 3px 5px -1px rgba(0, 0, 0, 0.36);
}

.plFooter button {
	background-color: #1e2124;
	padding: 0;
	height: 22px;
    width: 22px;
    margin: -2px -1px 0px -1px;
}
.plFooter button > i {
	top: 0px;
}
.plBrowse .goToPlaying > i {
	color: hsla(209, 69%, 66%, 1);
}
.plInfos {
	font-size: 15px;
}
.plInfos, .plBrowse {
	background-color: hsla(107, 17%, 25%, 0.95);
    float: right;
    padding: 2px;
    line-height: 25px;
}

.plDashboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.plDashboard .plSelect, .plDashboard .plSearch {
	z-index:10;
}

.plDashboard .plSelect {
	flex-grow: 100;
	flex-basis: 30%;
    float: left;
}
.plDashboard .plSearch {
    flex-grow: 100;
	flex-basis: 25%;
    float: right;
}

.modal {
	z-index: 10000;
}

.modal input[type="text"], .modal input[type="password"]:not([exclude="true"]) {
	height: 50px;
	border-radius: 0;
}

.modal .profileData {
	display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.modal .profileData strong{
	width: 80px;
	line-height: 39px;
}
.modal .profileData .profileLine {
	display: flex;
}

.modal .profileData .profileLine > input {
	text-align: left;
	border: 1px #9e9e9e solid;
    border-width: 0px 0px 1px 0px;
}
.modal .profileData .profileLine > i {
	text-align: center;
	margin-right: 5px;
    font-size: 2.3rem;
	line-height: 2.3rem;
	padding: 1.5rem;
}
.modal .profileContent .img-circle {
    width: 100%;
    max-width: 160px;
    border-radius: 0%;
}
.modal .profileContent [name="login"] {
    font-size: 2.3rem;
	line-height: 2.3rem;
	padding-top: 1rem;
}
.modal .profileData label {
	border: 1px #9e9e9e solid;
	border-width: 0px 0px 1px 0px;
	border-radius: 0;
    height: 34px;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
	/*background-color: hsla(229, 9%, 30%, 1);*/
	background-color: transparent;
	color: #e9e9e9;
}
#loginModal input[type="text"]:not(:focus), .modal input[type="password"]:not(:focus) {
    background-color: hsla(229, 9%, 30%, 1);
}

.modal .modal-body {
	overflow-y: auto;
}

.modal[type=prompt] .modal-body {
	padding: 0;
}

.modal .modal-content {
	color: #eee;
	background-color:#3a3c45
}
.modal .modal-footer {
	display: flex;
    justify-content: flex-end;
	padding: 0;
	border: 0;
    margin-top: 3px;
}
.modal .modal-footer > button {
	order: 0;
	margin-left: 5px;
}
.modal .modal-header {
	padding: 12px 15px;
}
.modalPage .modal-header {
	padding: 0;
	display: flex;
}
.modalPage .modal-message {
	height: 100px;
}
.modalPage .modal-body > div {
	padding: 5px;
	text-align: center;
}
#loginModal .modal-body button, #loginModal .modal-body input {
	width: 100%;
	border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 5px -1px rgba(0, 0, 0, 0.1);
}
.modalPage .modal-message div {
	height: 100%;
}
.modalPage .nav-tabs > li > a {
    border-radius: 0;
    background-color: #565656;
	border: none;
	color: #EEE;
}
.modalPage .nav-tabs>li.active>a, .modalPage .nav-tabs>li.active>a:focus, .modalPage .nav-tabs>li.active>a:hover {
    cursor: default;
    background-color: #3a3c45;
	border: none;
	color: #EEE;
}
.modalPage .nav-tabs.nav-justified>li {
    flex-grow: 1;
}
.modalPage .tab-content {
	padding: 5px;
}
.nav>li>a:focus, .nav>li>a:hover {
    border-top: none;
    text-decoration: none;
    background-color: rgb(75, 75, 75);
}
.modal .modal-message div {
	padding: 0;
}
.modal button.guest {
	height: 100%;
	width: 100%;
	background-color: hsla(182, 45%, 28%, 1);
}
.modal button.ok {
	background-color: hsla(139, 14%, 22%, 1);
}
.modal button.login {
    background-color: hsla(224, 46%, 39%, 1);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.modal button.other {
	background-color: hsla(0, 17%, 22%, 1);
}
#loginModal .redBorders, #profilModal .redBorders {
	border: hsla(0, 87%, 50%, .5) solid 1px;
    border-width: 0px 0px 0px 5px;
}
.userlist .userLine {
    display: flex;
    justify-content: space-between;
}
.userlist .list-group-item {
    border: 1px solid #565656;
    background-color: #2b2b2b;
	border-width: 1px 0px;
	border-left-width: 3px;
	border-left-color: #893230;
	line-height: 40px;
}
.userlist .list-group-item.online {
   border-left-width: 3px;
   border-left-color: hsla(101, 48%, 36%, 1);
}
.userLine {
	height: 45px;
	padding: 3px;
}
.userlist > li {
	cursor: pointer;
}
.userlist > li:hover {
	background-color: #333333;
}
.userLine > img, .userLine > div {
	vertical-align: middle;
	height: 100%;
}
.userlist > li.open > .userDetails {
	display: block;
}
.userDetails {
	display: none;
	background-color: #212121;
	text-align: start;
	padding: 10px;
    margin-top: 5px;
}
.userDetails > div > i {
	padding: 10px;
}
.nickname {
    font-size: 22px;
}
.avatar {
	border-color: hsla(0, 0%, 47%, .4);
	border: 0;
	padding: 1px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 8px 0 rgba(0, 0, 0, 0.16), 0 3px 5px -1px rgba(0, 0, 0, 0.16);
}
/* placeholders */

.panel-heading ::-webkit-input-placeholder {
    font-size: 1.8rem;
	line-height:  30px;
	height: 30px;
    text-align:right; 
    font-family: 'Glyphicons Halflings'; 
}

.panel-heading  ::-moz-placeholder {  /* Firefox 19+ */
	font-size: 2rem;
	line-height:  21px;
	height: 20px;
    text-align:right; 
    font-family: 'Glyphicons Halflings'; 
}
.panel-heading  :-ms-input-placeholder {
	font-size: 2rem;
	line-height:  21px;
	height: 20px;
    text-align:right; 
    font-family: 'Glyphicons Halflings'; 
}
body .playlist-main li.list-group-item.filler {
    width: 100% !important;
	overflow: hidden;
	overflow: hidden;
	background-color: hsla(0, 0%, 20%, .57);
}

.loader {
	border: 16px solid #9e9e9e;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	left: calc(50% - 34px * 3/2);
	top: calc(50% - 34px * 3/2);
	position: absolute;
	width: calc(34px * 3);
	height: calc(34px * 3);
	animation: spin .8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* dark theme */

input[type="text"], input[type="password"]:not([exclude="true"]) {
    height: inherit;
    width: calc(100% - 0rem);
    border: 0;
    box-shadow: none;
    font-size: 2.3rem;
    line-height: 2.3rem;
    background-color: transparent;
    outline: none;
    margin: 0;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
	transition: all 0.3s;
	color: #ccc;
}

input[type="text"]:focus, input[type="password"]:focus {
    background-color: #cfd8dc;
    border-bottom: 0px solid #546e7a;
    box-shadow: 0 1px 0 0 #546e7a;
	color: hsla(210, 9%, 24%, 1);
}

.panel-heading input[type="text"], .panel-heading input[type="password"],
.playlistContainer input[type="text"], .playlistContainer input[type="password"] {
    border: 1px #9e9e9e solid;
    border-width: 0px 0px 1px 0px;
    height: 34px;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding-left: 1rem;
	padding-right: 1rem;   
}


.select2-container--bootstrap .select2-selection--single, .select2-dropdown {
	background-color: hsla(210, 9%, 14%, 1);
	border-color: #666;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered,
.select2-container--bootstrap .select2-results__option,
.select2-container--bootstrap .select2-results__option[aria-selected=true] {
	color: #ddd;
}
.select2-container--bootstrap .select2-results__option[aria-selected=true] {
	background-color: #bbb;
	color: black;
}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
	background-color: hsla(211, 33%, 38%, 1);
	color: #eee;
}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
	background-color: hsla(0, 0%, 27%, 0.77);
	border-width: 0px 0px 1px 0px;
	border-radius: 0;
	border-color: #9e9e9e;
	color: #ccc;
}
.select2-search--dropdown .select2-search__field {
	padding: 6px;
}
.select2-search.select2-search--dropdown {
	padding: 0;
}
.select2-container--bootstrap .select2-dropdown,
.select2-container--bootstrap.select2-container--open .select2-selection {
	border-color: hsla(211, 33%, 38%, 1);
}

.btn-default {
	background-color: hsla(210, 9%, 14%, 1);
    color: #eee;
    border-color: #777;
}
.btn-default:hover {
    color: #ddd;
    background-color: hsla(210, 9%, 10%, 1);
	border-color: #9e9e9e;
}

.btn-default:active:focus, 
.btn-default:focus {
	background-color: #444;
	color: #ccc;
}

.btn-danger {
	border-color: hsla(2, 22%, 52%, 1);
}
.btn-danger:hover {
	border-color: hsla(2, 22%, 67%, 1);
}
.btn-primary {
	border-color: hsla(208, 22%, 52%, 1);
	background-color: #37679a;
}

.btn-primary:active:focus, .btn-primary:focus {
	color: #fff;
    background-color: #37679a;
	border-color: hsla(208, 22%, 52%, 1);
}
.btn-primary:hover {
	border-color: hsla(208, 22%, 67%, 1);
}





@media (max-width: 1025px) {
	.playlistContainer[flipped]:after {
		background: url(/ressources/img/nanami_g_980w.jpg) no-repeat;
		background-size: 100%;
		background-position: 0 20%;
	}
}