<!doctype html>

<html>

<head>
    <meta charset="utf-8">

    <title>Karaoke Mugen</title>
    <meta name="description" content="karaoke">
    <meta name="author" content="toyunda">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/toyundamugen.css">
    <link rel="stylesheet" href="/css/public.1.css">
    
    <script src="{{clientAdress}}:1340/socket.io/socket.io.js"></script>
    <script src="/js/assignIE.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-switch.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/toyundamugen.js"></script>
    <script src="/js/public.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>