#welcomePage {
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: auto;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #FFF;
	background: #222;
	background: rgba(0, 0, 0, 0) linear-gradient(135deg, hsla(205, 39%, 20%, 1) 0%, hsla(151, 17%, 40%, 1) 100%) repeat scroll 0 0;
}

.welcomePage--wrapper {
	height: 100vh;
	padding: 1em;

	display: grid;
	grid-template-columns: 200px 1fr 1.4fr;
	grid-template-rows: 100px  auto;
	grid-template-areas:
		"logo tasks aside"
		"main main main";
		
	@media (max-width:1000px) {
		grid-template-columns: 200px auto;
		grid-template-rows: 100px auto;
		grid-template-areas:
			"logo aside"
			"main main";
	}

	a {
		color:inherit;
		text-decoration: underline;
	}


	.logo {
		grid-area: logo;

		img {
			filter: hue-rotate(427deg) saturate(0) brightness(156%);
			max-height: 100%;
			max-width: 100%;
		}
	}

	.welcome-page-tasks-wrapper {
		grid-area: tasks;
		@media (max-width:1000px) {
			position: fixed;
			z-index: 100;
			top: 1em;
			left: .5em;
		}
	}

	.aside {
		grid-area: aside;

		nav {
			margin-bottom: 1em;
			ul {
				padding: 0;
				margin: 0;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				list-style: none;
				li {
					margin-right: 1em;
					border-radius: .75em;
					padding: 5px;
					border: 1.5px solid #BBBCBC;
					a {
						display: flex;
						text-decoration: none;
						i {
							margin-right: 0.5em;
						}
					}
				}
			}
		}

		.session-setting {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			article {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-right: 0.5em;
				label {
					display: block;
					padding-right: 0.5em;
				}
				&:last-child {
					margin-right: 0;
				}

				.UI-autocomplete {
					zoom:0.8;
					width: 240px;
					input {
						text-align: center;
					}
				}
			}
		}
	}

	main.main {
		grid-area: main;
		padding-top: 1em;
		height: 100%;
		overflow: hidden;

		display: flex;
		flex-direction: row;

		section.tiles-panel {
			flex: 1;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			position: relative;
			> article {
				overflow: hidden;
				&:first-child { border-radius: .5em 0 0 0; }
				//&:nth-child(2) { border-radius: 0 .5em 0 0; }
				//&:last-child { border-radius: 0 0 .5em 0; }
				&:nth-last-child(2) { border-radius: 0 0 0 .5em; }

				width: calc(50% - .5em);
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid rgba(#fff,0.5);
				margin: 0 .5em .5em 0;
				font-size: 1.3vmax;
				font-weight: bold;
				> button {
					background: rgba(#fff,0.2);
					border: none;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					padding: 0 1em;
					i {
						margin-right: 0.3em;
						font-size: 2em;
					}
				}
				> blockquote {
					padding: .5em;
					margin: 0;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					button {
						background: rgba(#fff,0.3);
						border: none;
						width: 100%;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						padding: .5em 1em;
						i {
							margin-right: 0.3em;
							font-size: 2em;
						}
					}
					label {
						border: none;
						width: 100%;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						padding: .5em 1em;
						i {
							margin-right: 0.3em;
							font-size: 2em;
						}
					}

					ul {
						list-style: none;
						padding: 0;
						margin: 0;
						li {
							padding: 0 1em;
							margin: .5em 0;
							i {
								margin-right: 0.5em;
								min-width: 1.2em;
								text-align: center;
							}
						}
					}
				}
			}
			.tile-tutorial {
				border: 1px solid tomato;
			}
			.tile-stats, .tile-repositories {
				min-height:30%;
				margin-bottom: 0;

				li {
					cursor: pointer;
				}

				.disabled {
					opacity: 0.5;
				}
			}

			.tile-stats {
				li {
					display: flex;
					flex-direction: row;
					* {
						flex:1;
					}
				}
			}
		}

		section.feed-panel {
			flex: 1;
			max-width:50%;
			background: rgba(#fff,0.2);
			padding: 1em;
			display: flex;
			flex-direction: column;
			border-radius: 0 .5em .5em 0;
			border: 1px solid rgba(#fff,0.5);
			> div {
				overflow: auto;
				padding-right: .5em;
			}
		}
	}
}