#welcomePage {
    height:100vh;
    display: flex;
	flex-direction: column;
	align-items: center;
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, hsla(205, 39%, 20%, 1) 0%, hsla(151, 17%, 40%, 1) 100%) repeat scroll 0 0;

    body {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        color: #3b4045;
        font:14px/22px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    
    a {
        text-decoration: none;
    }

    .menu-top {
		width: 100%;
        padding: 15px;
        display: flex;
        justify-content: space-around;
        
        .menu-top-left {
            display: flex;         
            .menu-top-sessions-label {
                padding: 7px 0px 7px 20px;
            }
        }

        .menu-top-right {
			display: flex;
			
			a {
				color: #fff;
				padding: 7px;
			}

			a:hover, a:focus {
				color: #009ee5;
			}
        }
	}
	
    .row {
		height: 100%;
		width: 90%;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
    .row > div:last-child {
		overflow: auto;
		height: calc(100% - 400px);
    }

    .block {
        background: rgba(255, 255, 255, 0.2);
        margin: 5px;
        padding:13px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
    }

    .logoDiv {
		margin: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			filter: hue-rotate(427deg) saturate(0) brightness(156%);
			height: 122px;
		}
		
		.separatorLogo {
			background: #ffffffad;
			height: 2px;
			width: 50%;
			margin: 5px;
		}
		
		.catchPhrase {
			font-size: 16px;
			text-align: center;
		}
    }

	.menuWelcome {
		display: flex;

		.tutorial {
			border: 3px solid  #d83838a8;
		}

		li {
			padding: 10px 15px 10px;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
			cursor: pointer;
			line-height: 25px;
			text-align: center;
			list-style: none;
			flex-grow: 1;
			flex-basis: 0;

			i {
				font-size: 50px;
				height: 60px;
			}
		}

		// operator page
		li:nth-child(1) {
			background-color: hsla(234, 44%, 67%, 0.2)
		}
		li:nth-child(1):hover {
			background-color: hsla(234, 44%, 47%, 0.2)
		}

		// system panel
		li:nth-child(2) {
			background-color: hsla(140, 47%, 67%, 0.2);
		}
		li:nth-child(2):hover {
			background-color: hsla(140, 47%, 47%, 0.2);
		}

		// public page
		li:nth-child(3) {
			background-color: hsla(60, 50%, 58%, 0.2)
		}
		li:nth-child(3):hover {
			background-color: hsla(60, 50%, 38%, 0.2)
		}

		// help page
		li:last-child {
			background-color: hsla(0, 12%, 54%, 0.4)
		}
		li:nth-child(4):hover {
			background-color: hsla(0, 22%, 34%, 0.4)
		}
	
	}

}