@use 'sass:string';

* {
	forced-color-adjust: none;
}

#root {
	height: 100%;
}

.dynamic-delete-button {
	cursor: pointer;
	position: relative;
	top: 4px;
	font-size: 24px;
	color: #999;
	transition: all 0.3s;
}
.dynamic-delete-button:hover {
	color: #777;
}
.dynamic-delete-button[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

select {
	display: inline-block;
	box-sizing: border-box;
	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	outline: none;
	padding: 4px 5px 5px;
}

.futurTime {
	position: absolute;
	top: 6.5em;
	background-color: black;
	padding: 0.5rem;
}

.flex-center {
	justify-content: center !important;
}

.flex-space-between {
	justify-content: space-between !important;
}

.flex-align-center {
	align-items: center;
}

.flex-line {
	display: flex;
	gap: 0.25em;
}

.flex-column {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	align-items: flex-start;
}

$sides: (top, bottom, left, right);

@for $space from 1 through 10 {
	@each $side in $sides {
		.m#{string.slice($side, 0, 1)}-#{$space} {
			margin-#{$side}: #{$space * 0.25}em !important;
		}

		.p#{string.slice($side, 0, 1)}-#{$space} {
			padding-#{$side}: #{$space * 0.25}em !important;
		}
	}
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}
