.radiobutton-ui {
	display: flex;
	flex-direction: row;
	&[data-orientation="vertical"] {
		flex-direction: column;
	}
	
	button {
		display: block;
		flex:1;
		padding: 0;
		margin: 1px;
		border: none;
		background: #575757;
		color: #aaa;
		outline:none;
		transition: color ease .5s, background ease .5s;
		&.active {
			background: #37679a;
			color: #FFF;
		}
	}
}