@import '../../styles/variables';
@import '../../styles/components/blurred-bg';

.player-box {
	margin: 1em 0;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
	align-items: stretch;
	cursor: pointer;
	&.fixed {
		cursor: pointer;
		margin: 0;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0.5em 0.5em 1em;
		background-color: $mugen-background;
		z-index: 99;
		&::before {
			border-radius: 0;
			filter: blur(5px) contrast(75%) brightness(75%) saturate(80%);
		}
	}
	> * {
		z-index: 10;
	}
	@include blurred-bg;
	&::before {
		z-index: 0;
		border-radius: 15px;
	}
	&:hover > .first > p.next,
	> .first > p.next:focus {
		color: aliceblue;
		transform: scale(1.25);
	}
	> .first {
		font-size: 1.25em;
		font-weight: lighter;
		@include shadow;
		display: flex;
		p:first-child {
			flex-grow: 1;
		}
		p.next {
			transition: color, transform ease 100ms, 200ms;
		}
	}
	> .title {
		& > div {
			display: flex;
			align-items: center;
		}
		.song {
			font-size: 2em;
			font-weight: bold;
			@include shadow;
		}
		.series {
			font-size: 1.25em;
			@include shadow;
		}
		&.inline {
			.song {
				font-size: 1.25em;
				text-overflow: ellipsis;
			}
			.series {
				font-size: 1.1em;
				text-overflow: ellipsis;
			}
			margin-bottom: 0.5em;
		}
	}
	> .timers {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		margin-bottom: 0.5em;
		> div {
			width: min-content;
			@include shadow;
		}
	}
	.progress-bar-container {
		background-color: black;
		opacity: 0.5;
		height: 1em;
		border-radius: 15px;
		> .progress-bar {
			height: 100%;
			transition: width linear 0.5s;
			background-color: white;
			border-radius: inherit;
		}
	}
	.favorites {
		background-color: darken(map-get($mugen-colors, 'yellow'), 10);
		width: max-content;
		margin: 0.5em 0;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
		transition: background-color 200ms linear;
		border: 0;
		> i {
			margin-right: 0.25em;
		}
		&:hover {
			background-color: darken(map-get($mugen-colors, 'yellow'), 15);
		}
	}
	&.fixed {
		.progress-bar-container {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			border-radius: 0;
		}
	}
}

@media screen and (min-width: $mugen-breakpoint-large) {
	.player-box.fixed {
		.title .song {
			font-size: 2em;
		}
	}
}
