@use 'sass:color';
@use '../../styles/variables';

.tags-list {
	display: inline-flex;
	position: relative;
	flex: 1 0 auto;
	flex-direction: column;
	div.tags-item {
		padding: 1em;
		background-color: variables.$mugen-playlist-odd;
		transition: background-color 250ms ease;
		cursor: pointer;
		&:hover,
		&:focus {
			background-color: color.adjust(variables.$mugen-playlist-odd, $lightness: 5%, $space: hsl);
		}
		&.even {
			background-color: variables.$mugen-playlist-even;
			&:hover,
			&:focus {
				background-color: color.adjust(variables.$mugen-playlist-even, $lightness: 5%, $space: hsl);
			}
		}
		> .title {
			font-size: 1.5em;
			font-weight: bold;
		}
		> .karacount {
			font-weight: lighter;
		}
	}
}
