<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="karaoke">
    <meta name="author" content="toyunda">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-switch.min.css">
    <link rel="stylesheet" href="../css/select2.min.css">
    <link rel="stylesheet" href="../css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="../css/toyundamugen.css">

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/select2.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-switch.min.js"></script>
</head>

<body>

    <div id="header">

        <button class="btn btn-default btn-dark pull-right">
            <i class="glyphicon glyphicon-off"></i></button>
        <div class="pull-left btn-group" style="height: 100%;width: 129px;">
            <input type="checkbox" name="kara_state" class="btn btn-default pull-left"
				data-on-text="<i class='glyphicon glyphicon-eye-close'></i> Privé"
				data-off-text="<i class='glyphicon glyphicon-eye-open'></i>  Publique" data-size="large">
            <input type="checkbox" name="kara_panel" class="btn btn-default pull-left"
				data-on-text="<i class='glyphicon glyphicon-cog'></i>  Gestion"
				data-off-text="<i class='glyphicon glyphicon glyphicon-music'></i>  Playlist" data-size="large">
        </div>
        <div class="pull-left btn-group" style="height:100%;">
            <button id="play" value="play" class="btn btn-primary"><i class="glyphicon glyphicon-play"></i></button>
            <button id="stop" class="btn btn-danger"><i class="glyphicon glyphicon-stop"></i></button>
        </div>

        <img src="https://lab.shelter.moe/uploads/system/project/avatar/18/tmugen2.jpg" alt="logo kara" height="100%" class="pull-right">
        <strike class="pull-right" style="margin-right: 19px;    line-height: 64px;    font-size: 22px;">TOYUNDA</strike>

    </div>
    <div class="container-fluid">
        <div class="playlist-main row" id="playlist">
            <div class="panel col-lg-6 col-xs-6">

                <div class="panel-heading">
                    <div class="pull-left col-lg-6 col-xs-6">
                        <select type="playlist_select" num="1" class="select2 form-control">
                            <option value="1" default>Playlist des familles</option>
                            <option value="2"  >Playlist du bon goût</option>
                            <option value="3" >Whitelist</option>
                            <option value="4" >Blacklist</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="pull-right">
                            <button class="btn btn-default ">
                                <i class="glyphicon glyphicon-export"></i>
                            </button>
                            <button class="btn btn-default ">
                                <i class="glyphicon glyphicon-floppy-disk"></i>
                            </button>
                            <button class="btn btn-default ">
                                <i class="glyphicon glyphicon-eye-close"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <ul id="playlist1" class="list-group">
                  <li class="list-group-item"></li>
                </ul>
            </div>
			
            <div class="panel col-lg-6 col-xs-6">
                <div class="panel-heading">
                    <div class="col-lg-6 col-xs-6">
                        <select type="playlist_select" num="2" class="select2">
                            <option value="1" default>Playlist des familles</option>
                            <option value="2"  >Playlist du bon goût</option>
                            <option value="3" >Whitelist</option>
                            <option >Blacklist</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="pull-right">
                            <button class="btn btn-default ">
                                <i class="glyphicon glyphicon-export"></i>
                            </button>
                            <button class="btn btn-default ">
                                <i class="glyphicon glyphicon-floppy-disk"></i>
                            </button>
                            <button class="btn btn-default ">
                                <i class="glyphicon glyphicon-eye-close"></i>
                            </button>
                        </div>
                    </div>
                </div>
				 <!--
					<table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Lang</th>
                            <th>Serie</th>
                            <th>Type</th>
                            <th>Titre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>FR</td>
                            <td>Mahoromatic</td>
                            <td>AMV</td>
                            <td>Dernière danse 2010</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>JAP</td>
                            <td>School Days</td>
                            <td>AMV</td>
                            <td>@Kanashimi no Mukou he</td>
                        </tr>
                    </tbody>
                </table>
				-->
                <ul id="playlist2" class="list-group">
                  <li class="list-group-item"></li>
                </ul>
               

            </div>
        </div>
        <div class="row" id="manage" hidden>
            <div class="col-lg-2 col-xs-0"></div>
            <div class="panel col-lg-8 col-xs-12">

                <div class="panel-heading">
                    <div class="col-lg-6 col-xs-6">
                        <div class="pull-right">
                            <h4> Gestion </h4>
                        </div>
                    </div>
                </div>

                <form class="form-horizontal">
                    <br/>
                    <div class="form-group">
                        <label for="password" class="col-xs-4 control-label">Changer mot de passe admin</label>
                        <div class="col-xs-6">
                            <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kara_username_show" class="col-xs-4 control-label">Afficher le demandeur du kara</label>
                        <div class="col-xs-6">
                            <input switch="onoff" type="checkbox" id="kara_username_show">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kara_username_change" class="col-xs-4 control-label">Autoriser changement de pseudo</label>
                        <div class="col-xs-6">
                            <input switch="onoff" type="checkbox" id="kara_username_change">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="song_per_user" class="col-xs-4 control-label">Chansons par personne</label>
                        <div class="col-xs-6">
                            <input type="number" class="form-control" id="song_per_user" placeholder="1000">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="screen_number" class="col-xs-4 control-label">Numéro d'écran d'affichage</label>
                        <div class="col-xs-6">
                            <select type="number" class="form-control" id="screen_number">
                                <option value="1" default> 1 </option>
                            </select>
                        </div>
                    </div>

                </form>

            </div>
            <div class="col-lg-2 col-xs-0"></div>
        </div>
    </div>

    <script>
		/* fake data */
		
				var playlist1 = {
					1 : { "name": "Your name - AMV - Dernière danse 2010", "lang": "FR" },
					2 : { "name": "Suzumiya Haruhi no Yuutsu - OP1 - Bouken deshou deshou", "lang": "JAP" },
					3 : { "name": "Kodomo no Jikan - ED2 - Yasashii EP6.ver.", "lang": "JAP" },
					4 : { "name": "Suzumiya Haruhi no Yuutsu - OP1 - Bouken deshou deshou", "lang": "JAP" },
					5 : { "name": "Bonne nuit les petits (1963) - IN - J'ai du bon tabac", "lang": "FR" }
				}
                 
               
					
		/* init selects & switchs */
        $(".select2").select2({
            theme: "bootstrap"
        });
        $("input[switch='onoff']").bootstrapSwitch({
            wrapperClass: "btn btn-default",
            "data-size": "normal"
        });
        $("[name='kara_state'],[name='kara_panel']").bootstrapSwitch({
            "wrapperClass": "btn btn-default",
            "data-size": "large",
            "labelWidth": "0",
            "handleWidth": "65",
            "data-inverse": "false"
        });
      
		/* fill list selects */
		
		// FCT Get playlist list from server
		// fill both selects with data 
		
		
		/* event handlers */
		
	    $("[name='kara_panel']").on('switchChange.bootstrapSwitch', function(event, state) {
            console.log(this, event, state);
            if (state) {
                $('#playlist').hide();
                $('#manage').show();
            } else {
                $('#playlist').show();
                $('#manage').hide();
            }
        });	
		$("[name='kara_state']").on('switchChange.bootstrapSwitch', function(event, state) {
            console.log(this, event, state);
          
			// FCT send playlist state (1=private 0=public)
           
        });	
		
		$("select[type='playlist_select']").change(function(){
			var val = $(this).val();
			var num = $(this).attr('num');
			var side = num == 1 ? 'right' : 'left';
			// FCT get kara list from playlist
			
			// fill list with kara list
			
			$("#playlist" + num).empty();
			$.each(playlist1, function (i, item) {
				$('#playlist' + num).append($('<li>', { 
					value: item.key,
					class: 'list-group-item',
					html:  item.name + '<span class="badge">' + item.lang + '</span>'
									 + '<button onclick="transfer(this);" num="' + num + '" class="btn btn-sm btn-default btn-dark pull-' + side +'">'
									 + '<i class="glyphicon glyphicon-arrow-' + side + '"></i></button>'
				}));
			});
		});	
		
		transfer = function(e) {
			var newNum = 3 - $(e).attr('num');
			$(e).attr('num', newNum);
			$(e).parent().detach().appendTo('#playlist' + newNum);
		};

		
		$("#play").click(function() {
			if($(this).val() === "play") {
				// FCT play kara
				$(this).val("pause");
			} else {
				// FCT pause kara
				$(this).val("play");
			}
			$(this).toggleClass('btn-info').toggleClass('btn-primary')
					.find('i').toggleClass('glyphicon-play').toggleClass('glyphicon-pause');
		});
		
		$("#stop").click(function() {
			// FCT stop kara
			
			$("#play").val("play");
			$("#play").attr('class', 'btn btn-primary')
					.find('i').attr('class', 'glyphicon glyphicon-play');
		});
		
		/* manage panel event handlers */
		
		$("#password").blur(function(){
			// FCT change password
		});
		$("#kara_username_show").blur(function(){
			// FCT change username show
		});
		$("#kara_username_change").blur(function(){
			// FCT change username change
		});
		$("#song_per_user").blur(function(){
			// FCT change song per user
		});
		$("#screen_number").blur(function(){
			// FCT change screen number
		});
		
		
		
		
    </script>
</body>

</html>