
    <div id="header">
        <button class="btn btn-default btn-dark pull-right">
            <i class="glyphicon glyphicon-off"></i></button>
        <div class="pull-left btn-group" style="height: 100%;width: 129px;">
            <input type="checkbox" name="kara_state" class="btn btn-default pull-left"
				data-on-text="<i class='glyphicon glyphicon-eye-close'></i> Privé"
				data-off-text="<i class='glyphicon glyphicon-eye-open'></i>  Publique" data-size="large">
            <input type="checkbox" name="kara_panel" class="btn btn-default pull-left"
				data-on-text="<i class='glyphicon glyphicon-cog'></i>  Gestion"
				data-off-text="<i class='glyphicon glyphicon glyphicon-music'></i>  Playlist" data-size="large">
        </div>
        <div class="pull-left btn-group" style="height:100%;">
            <button id="play" value="play" class="btn btn-primary"><i class="glyphicon glyphicon-play"></i></button>
            <button id="stop" class="btn btn-danger"><i class="glyphicon glyphicon-stop"></i></button>
        </div>

        <img src="https://lab.shelter.moe/uploads/-/system/project/avatar/18/tmugen2.jpg" alt="logo kara" height="100%" class="pull-right">
        <strike class="pull-right" style="margin-right: 19px;    line-height: 64px;    font-size: 22px;">TOYUNDA</strike>

    </div>
    <div id="underHeader" class="container-fluid">
        <div class="playlist-main row" id="playlist">
            <div class="panel col-lg-6 col-xs-6">

                <div class="panel-heading">
                    <div class="pull-left col-lg-6 col-xs-6">
                        <select type="playlist_select" num="1" class="select2 form-control">
                        </select>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="pull-right">
                            <button class="btn btn-default ">
                                <i class="glyphicon glyphicon-export"></i>
                            </button>
                            <button class="btn btn-default ">
                                <i class="glyphicon glyphicon-facetime-video"></i>
                            </button>
                            <button class="btn btn-default ">
                                <i class="glyphicon glyphicon-eye-close"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <ul id="playlist1" class="list-group">
                  <li class="list-group-item"></li>
                </ul>
            </div>
			
            <div class="panel col-lg-6 col-xs-6">
                <div class="panel-heading">
                    <div class="col-lg-6 col-xs-6">
                        <select type="playlist_select" num="2" class="select2">
                        </select>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="pull-right">
                            <button class="btn btn-default ">
                                <i class="glyphicon glyphicon-export"></i>
                            </button>
                            <button class="btn btn-default ">
                                <i class="glyphicon glyphicon-facetime-video"></i>
                            </button>
                            <button class="btn btn-default ">
                                <i class="glyphicon glyphicon-eye-close"></i>
                            </button>
                        </div>
                    </div>
                </div>
			
                <ul id="playlist2" class="list-group">
                  <li class="list-group-item"></li>
                </ul>
               

            </div>
        </div>
        <div class="row" id="manage" hidden>
            <div class="col-lg-2 col-xs-0"></div>
            <div class="panel col-lg-8 col-xs-12">

                <div class="panel-heading">
                    <div class="col-lg-6 col-xs-6">
                        <div class="pull-right">
                            <h4> Gestion </h4>
                        </div>
                    </div>
                </div>

                <form class="form-horizontal">
                    <br/>
                    <div class="form-group">
                        <label for="password" class="col-xs-4 control-label">Changer mot de passe admin</label>
                        <div class="col-xs-6">
                            <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kara_username_show" class="col-xs-4 control-label">Afficher le demandeur du kara</label>
                        <div class="col-xs-6">
                            <input switch="onoff" type="checkbox" id="kara_username_show">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kara_username_change" class="col-xs-4 control-label">Autoriser changement de pseudo</label>
                        <div class="col-xs-6">
                            <input switch="onoff" type="checkbox" id="kara_username_change">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="song_per_user" class="col-xs-4 control-label">Chansons par personne</label>
                        <div class="col-xs-6">
                            <input type="number" class="form-control" id="song_per_user" placeholder="1000">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="screen_number" class="col-xs-4 control-label">Numéro d'écran d'affichage</label>
                        <div class="col-xs-6">
                            <select type="number" class="form-control" id="screen_number">
                                <option value="1" default> 1 </option>
                            </select>
                        </div>
                    </div>

                </form>

            </div>
            <div class="col-lg-2 col-xs-0"></div>
        </div>
    </div>

<script>
       var trad = {{{trad}}};
       var mdpAdminHash = "{{mdpAdminHash}}";
</script>