<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper"  id="progressBar">
            <div id="karaInfo" idKara="-1" ondragstart="return false" draggable="false" class="truncate center"><span><center style="font-size: 1.5rem;">KaraMugen</center><span></div>
            <div id="progressBarColor" style="width:0%;"></div>
        </div>
    </nav>
</div>
<nav id="searchNav">
    <div class="nav-wrapper blue-grey darken-2">
            <div class="input-field large">
                <input type="search" class="" name="searchPlaylist" id="searchPlaylist1" num="1">
                <label class="label-icon" for="search" style="top: -9px;"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
    </div>
</nav>

<div class="fixed-action-btn left click-to-toggle">
    <a class="btn-floating btn-large waves-effect z-depth-3">
        <i class="material-icons">menu</i>
    </a>
    <ul>
        <li><a class="z-depth-3 waves-effect btn-floating btn-large deep-purple darken-4"><i class="material-icons">help_outline</i></a></li>
        <li><a class="z-depth-3 waves-effect btn-floating btn-large green darken-3"><i class="material-icons">settings</i></a></li>
        <li><a class="z-depth-3 waves-effect btn-floating btn-large brown darken-4" id="changePseudo"><i class="material-icons">person</i></a></li>
        <li><a class="z-depth-3 waves-effect btn-floating btn-large deep-orange darken-4" id="switchInfoBar">
            <i class="material-icons lyrics" >chat</i><i class="material-icons infos" >info_outline</i></a></li>
    </ul>
</div>

<div id="underHeader" class="underHeader">
    <div id="playlist" class="playlist-main carousel_ carousel-slider_" data-indicators="true">
        <div id="panel1" class="carousel-item" href="#one!">
             <div>
                <div>
                    <select id="selectPlaylist1" num="1" hidden >
                        <option value="-1" default></option>
                    </select>
                </div>
            </div>
            <div class="playlistContainer">
                <ul id="playlist1" num="1" class="collection swipable">
                </ul>
                <div class="playlistLoading"> {{i18n "LOADING"}} </div>
           </div>
        </div>
        
        <div id="panel2" class="carousel-item" href="#two!">
            <div class="pull-left" hidden>
                <input type="text" class="form-control input-lg" num="2" id="searchPlaylist2" placeholder="&#xe003;" name="searchPlaylist"/>
            </div>
           <div>
                <select id="selectPlaylist2" num="2" type="playlist_select">
                    <option value="" selected>...</option>
                </select>
            <div class="playlistContainer">
            
                <ul id="playlist2" num="2" class="collection">
                </ul>
                <div class="playlistLoading"> {{i18n "LOADING"}} </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="message" class="alert">
</div>

<div id="lyricsModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5>Paroles</h5>
        <hr>
        <p id="lyricsModalText">Chargement...</p>
    </div>
    <div class="modal-footer">
        <button href="#!" class="btn modal-action modal-close waves-effect waves-green btn-flat">Fermer</button>
    </div>
</div>

<div id="pseudoModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="input-field">
            <input value="" id="pseudo" type="text" class="validate">
            <label class="active" for="pseudo">Pseudo</label>
        </div>
    </div>
    <div class="modal-footer">
        <button href="#!" class="left btn modal-action modal-close waves-effect waves-green btn-flat">Modifier</button>
        <button href="#!" class="right btn modal-action modal-close waves-effect waves-green btn-flat">Fermer</button>
    </div>
</div>



<style>

 /* label underline focus color */
</style>
<script>

</script>