/* @import '~antd/dist/antd.less'; */

/* Add font used by KaraokeMugen logo */
@font-face {
  font-family: "07NikumaruFont";
  src: url("./assets/07NikumaruFont.woff") format("woff");
}

#root {
  height: 100%;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.ant-layout-header {
  padding: 0;
}

.ant-layout-content .ant-layout-header {
	height: auto;
	line-height: normal;
	padding: 1em;
}

.UI-notification-loading .ant-spin-nested-loading {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-form-item {
  text-align: left;
}

.UI-notification-loading .ant-spin-container {
  display: none;
}

select {
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
  padding: 4px 5px 5px;
}


.ant-pagination-item-active a {
    color: #888 !important;
}
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active {
    color: #5582bb;
}


@-webkit-keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

@keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

.tasksEvent-wrapper {
  padding: 0.5em;
  position: fixed;
  top: 5em;
  right: 1em;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.tasksEvent-wrapper  blockquote {
  min-width: 300px;
  background: #454545;
  color:#fff;
  padding: .3em .5em;
  margin: 0 0 .3em;
  border-radius: 0.5em;
}
.tasksEvent-wrapper  blockquote .text {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.tasksEvent-wrapper  blockquote .subtext {
  font-size: 0.8em;
  opacity: 0.8;
  margin-left: 0.5em;
}
.tasksEvent-wrapper  blockquote .progress {
  margin-top: 0.5em;
}
.tasksEvent-wrapper  blockquote .progress .progress-bar {
  background: rgba(255,255,255,0.5);
  height:2px;
}
.tasksEvent-wrapper  blockquote .progress .progress-bar.unknown {
  width: 100% !important;
  -webkit-animation: pulse 1s infinite ease-in-out;
  -o-animation: pulse 1s infinite ease-in-out;
  -ms-animation: pulse 1s infinite ease-in-out;
  -moz-animation: pulse 1s infinite ease-in-out;
  animation: pulse 1s infinite ease-in-out;
}

.pathFolders {
	word-break: break-all;
}