* {
	forced-color-adjust: none;
}

html,body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	color:#fff;
	height: 100%;
	position: relative;
	font-family: sans-serif;
	background-color: #36393f;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.initpage--wrapper {
	margin: 5px;
	display: flex;
	flex-direction: row;
	width: 100%;
}
.initpage--wrapper > main.ip--main {
	flex:1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.initpage--wrapper div.ip--logs-panel {
	flex:1;
	display: none; /* will be set to flex through ".initpage--wrapper[data-display-log="true"]" */
	justify-content: center;
	flex-direction: column;
	height: 35vh;
	max-width: 75vh;
}

.ip--logo {
	margin: 1em;
	height: 35vh;
}

.ip--top {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ip--loading-dots {
	margin-top: .5em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.ip--loading-dots span {
	display: inline-block;
	flex:1;
	max-width:0.7em;
	height: 0.7em;
	background: hsl(225, 7%, 63%);
	color: hsl(225, 7%, 63%);
	margin: 0 0.2em;
	border-radius: 0.1em;
}
.ip--loading-dots[data-hide="true"] {
	display: none;
}

.ip--progress-bar-container {
	display: none;
	width: 75%;
	max-width: 50em;
	height: 25px;
	background-color: #505050;
	margin-top: 1em;
	border: forestgreen solid;
	border-radius: 1em;
}

.ip--progress-bar-container[data-show-bar="true"] {
	display: initial;
}

.ip--progress-bar-container > div.ip--progress-bar {
	height: 100%;
	width: 0;
	background-color: forestgreen;
	transition: width 50ms linear;
	color: white;
	border-radius: 1em;
}

.ip--progress-bar-container > div.ip--progress-text {
	position: relative;
	bottom: 85%;
}

.ip--nanami {
	margin: 1em;
	width: 50%;
	max-width: 40em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ip--nanami > img {
	height: 100px;
	float: left;
}
.ip--nanami > .ip--protip {
	float: right;
	margin-left: 0.5em;
}
.ip--protip > .title {
	font-weight: bold;
	padding: 0.5em 1em;
	background-color: #0a4f7f;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}
.ip--protip > .content {
	background-color: #0669ac;
	margin: unset;
	padding: 0.5em 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

.ip--protip a {
	color: inherit;
}

.ip--nanami > .ip--protip.ip--error > .title {
	background-color: #ba2a05;
}
.ip--nanami > .ip--protip.ip--error > .content {
	background-color: #a32506;
}

.ip--button-logs {
	margin: 1em;
	display: inline-block;
	border: none;
	background: hsl(225, 7%, 18%);
	color: hsl(225, 7%, 33%);
	padding: .5em 1em;
	border-radius: .2em;
	font-family: sans-serif;
	cursor: pointer;
}

.ip--logs {
	font-size: .8em;
	list-style: none;
	background: hsl(225, 7%, 18%);
	border: 1px solid hsl(225, 7%, 38%);
	padding: .7em 1em;
	margin: 1em;
	max-height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
}
.ip--logs li {
	padding: .3em 0 .3em 2em;
	margin: 0;
	position: relative;
	line-height: 1.5em;
	color: hsl(225, 7%, 63%);
	text-align: left;
}
.ip--logs li::before {
	display: inline-block;
	content:"\2000";
	position: absolute;
	top: calc(.5em + 3px);
	left: calc(1em - 3px);
	background: hsl(225, 7%, 63%);
	border-radius: 1px;
	z-index: 2;
	width: 6px;
	height: 6px;
}
.ip--logs li::after {
	display: inline-block;
	content:"\2000";
	position: absolute;
	top: 0;
	left: calc(1em - 1px);
	border-left:2px solid hsl(235, 6%, 43%);
	z-index: 1;
	width: 0;
	height: 100%;
}
.ip--logs li:first-child::after {
	top: 1em;
}
.ip--logs li:last-child::after {
	top: initial;
	bottom: 1em;
}
.ip--logs li:first-child:last-child::after {
	display: none;
}

/*-----------------------------------------------------------------------------------*/

@keyframes pulse {
    0% { transform: scale(0.95); opacity: 0.5; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.95); opacity: 0.5; }
}

.initpage--wrapper[data-loading="true"] .ip--logo {
    animation: pulse 3s infinite ease-in-out;
}

.initpage--wrapper[data-display-log="true"] div.ip--logs-panel {
	display: flex;
}
