@import '../../styles/variables.scss';

.selectWithIcon {
	position: relative;
	display: inline-block;
	background-color: $mugen-select-background;
	border: $mugen-select-border;
	border-radius: 4px;
}

.modal-body .selectWithIcon {
	position: inherit;
}

.selectWithIcon-trigger {
	cursor: pointer;
	display: inline-block;
	user-select: none;
	padding: 0.25em 0.5em;
	transition: background-color 300ms ease-out;
}

.selectWithIcon-trigger::after {
	content: '';
	display: inline-block;
	margin-left: 2em;
	position: relative;
	top: 3px;
	border-color: currentColor transparent transparent;
	border-width: 5px 5px;
	border-style: solid;
}

.selectWithIcon-menu {
	cursor: pointer;
	background-color: $mugen-select-background;
	color: white;
	border: $mugen-select-border;
	border-radius: 4px;
	list-style-type: none;
	padding-left: 0;
	position: absolute;
	// left: 0;
	z-index: 99;
	margin: 5px 0 0 0;
	white-space: nowrap;
}

.selectWithIcon-menuItem {
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	&:hover,
	&:focus {
		background: $mugen-select-focus;
	}
}

.selectWithIcon-label {
	margin: 0 5px;
}

/* transition */

.selectWithIcon-menu {
	transform-origin: 10px 0;
	transform: scale(1);
	transition: transform 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}

@media (max-width: $mugen-breakpoint-large) {
	.selectWithIcon {
		display: none;
	}
}
