<html>
<head>
<title>404 Page Not Found</title>
<body>
    <center>

    <p>{{url}}</p>

    <h1>{{i18n "404"}}</h1>
    <h3>{{i18n "404_2"}}</h3>
    <strong><pre>    * &lt;----- {{i18n "404_3"}}</pre></strong>
    <img height="500" src="/ressources/img/nanami_.jpg"/>
</center>
</body>
</html>