<center style="top: 50%;
    transform: translateY(-50%);
    position: relative;">
    <img style="
    max-width: 100%;
    max-height: calc(100vh - 150px);"
    src="/ressources/img/dame.jpg">
    <div style="font-size: 30px; padding: 10px;">{{i18n "WEBAPPMODE_CLOSED_MESSAGE"}}</div>
</center>