@import '../../frontend/styles/variables';
@import '../../frontend/styles/toast';
@import '../../frontend/styles/components/buttons';
@import '../../frontend/styles/components/input';
@import '../../frontend/styles/fonts/Lato/stylesheet';

body {
	font-family: Lato, sans-serif;
	background: $mugen-background;
	color: white;
}

.loginBox {
	width: 95%;
	margin: auto;

	button {
		border: none;
	}

	.redBorders {
		border: #ee111180 solid;
		border-width: 0px 0px 0px 5px;
	}

	.btn.largeButton {
		margin-top: 0.5em;
		width: 100%;
		font-weight: bold;
		&.submitButton {
			background-color: $mugen-btn-primary-background;
		}
		&.guestButton {
			background-color: #007fa5;
		}
		&.switchButton {
			background-color: darkgreen;
		}
	}

	.loginSlogan {
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
	}
	> * {
		margin: 1em 0;
	}
	> form {
		margin: 0;
	}
}

.loginImageContainer {
	max-width: 350px;
	margin: auto;
}

.loginImage {
	width: 100%;
}

.loginForm {
	> * {
		margin: 1em 0;
	}
}

@media screen and (min-width: 690px) {
	.loginBox {
		width: 50%;
	}
}

.loginLine {
	display: flex;
	align-items: center;

	.loginName {
		min-width: 0;
		flex-shrink: 1;
	}

	.instanceName {
		min-width: 0;
		flex-shrink: 1;
	}

	.arobase {
		font-size: x-large;
		margin: 0 .25em;
	}
}

.loginLabel {
	text-align: left;
}

.spacedSwitch {
	display: flex;
	justify-content: space-evenly;
}

.versionKM {
	display: flex;
	flex-direction: column;
	align-items: center;
}
