<div id="progressBar" class="underHeader">
    <div id="karaInfo" idKara="-1" ondragstart="return false" draggable="false"><span>{{i18n "KARA_PAUSED_WAITING"}}<span></div>
    <div id="progressBarColor" class="cssTransform"></div>
</div>
<div id="underHeader" class="underHeader container-fluid" introStep="5"  introLabel="playlists">
    <div class="playlist-main row" id="playlist" introStep="9"  introLabel="playlists_2">
        <div class="panel col-lg-6 col-xs-6" id="panel1" side="1"></div>

        <div class="panel col-lg-6 col-xs-6" id="panel2" side="2" introStep="12"  introPosition="left" introLabel="playlists_manage_advanced"></div>
    </div>
    <div class="row" id="manage" hidden></div>

<div class="toastMessageContainer"></div>
</div>
<div class="overlay">
    <video id="video" src="" type="video/mp4" autoplay>
    </video>
</div>