<div id="progressBar" class="underHeader mode1">
    <div id="karaInfo" idKara="-1" ondragstart="return false" draggable="false"><span>{{i18n "KARA_PAUSED_WAITING"}}<span></div>
    <div id="progressBarColor" class="cssTransform"></div>
</div>
<div id="underHeader" class="underHeader container-fluid mode1">
     <div class="playlist-main row" id="playlist">
        <div class="panel col-lg-4 col-md-5 col-msm-12 col-sm-12 col-xs-12" id="panel1" side="1"></div>
        <div class="panel col-lg-8 col-md-7 col-msm-12 col-sm-12 col-xs-12" id="panel2" side="2"></div>
    </div>
</div>
<div class="toastMessageContainer">
</div>
<div class="fixed-action-btn right click-to-toggle mode1" id="mobileActions">
    <a class="btn-floating btn-large waves-effect z-depth-3 klogo" id="menuMobile"  style="background-color:#123456" data-opened=false>
    </a>
    <ul style="opacity: 0; display: none;">
        <li><a class="z-depth-3 btn-floating btn-large showSettings" style="background-color:#613114"><i class="glyphicon glyphicon-question-sign"></i></a></li>
        <li><a class="z-depth-3 btn-floating btn-large changePseudo" id="changePseudo" style="background-color:#431b50"><i class="glyphicon glyphicon-user"></i></a></li>
        <li><a class="z-depth-3 btn-floating btn-large" id="switchInfoBar" style="background-color:#125633">
            <i class="glyphicon glyphicon-info-sign infos"></i><i class="glyphicon glyphicon-subtitles lyrics"></i></a></li>
    </ul>
</div>

<div class="overlay">
     <video id="video" type="video/mp4" autoplay>
    </video>
</div>