.underHeader {
	top: 105px;
	height: calc(100% - 105px);
}
.playlist-main, .panel  {
	height: 100%;
}

#manage .bootstrap-switch-container > span {
	line-height: 2.25;
}

.form-horizontal {
	padding: 0px 40px;
}

.list-group > li > button {
	position: absolute;
    right: 0;
    height: 100%;
    top: 0;
	display: none;
}
#playlist2.list-group > li > button {
	left:0;
	border-left-width: 0;
	border-right-width: 3px;
}

#playlist2 .list-group-item > .btnDiv > button[name="transferKara"] > i.glyphicon-arrow-right {
	display: none; 
}
#playlist2 .list-group-item > .btnDiv > button[name="transferKara"]  {
	float: left; 
}
#playlist1 .list-group-item > .btnDiv > button[name="transferKara"] > i.glyphicon-arrow-left {
	display: none; 
}
#playlist1 .list-group-item > .btnDiv > button[name="transferKara"]  {
	float: right; 
}

.playlistContainer > ul[cantransferkara="false"] .list-group-item > .btnDiv > button[name="transferKara"] {
	display: none;
}

.playlistContainer > ul[canaddkara="false"] .list-group-item > .btnDiv > button[name="addKara"] {
	display: none;
}

#centerBtns {
	background-color: transparent;
	width: 255px;
    left: calc(50% - 255*.5px);
}
#centerBtns > .btn-group {
	width: 100%;
	display: flex;
 	justify-content: center;
 	align-items: center; 
}

#status[name="play"] > i.pause {
	display: none;
}
#status[name="pause"] > i.play {
	display: none;
}
#showSubs[name="showSubs"] > i.hideSubs {
	display: none;
}
#showSubs[name="hideSubs"] > i.showSubs {
	display: none;
}
#mutestatus[name="mute"] > i.unmute {
	display: none;
}
#mutestatus[name="unmute"] > i.mute {
	display: none;
}

.btn-stop {
	height: 100%;
}
.btn-stop > button {
	height: 50%;
	display: block;
}

.btn-danger-low, .btn-danger-low:focus {
	background-color: #7d0318;
	border: 0px solid #7d0318;
	color: white;
}

.btn-danger-low:hover {
	background-color: #6d0308;
	color: white;
}

.btn-danger-low:active {
	background-color: #5d0038;
	color: white;
}

div.bootstrap-switch-large{
	width: 100%;
	height: 50%;
	background-color: #9e9e9e; ;
}