/* old css */

#progressBar {
    top: 0;
    cursor: auto;
    height:  calc(30px + 28px - 1.5vw);
}
#karaInfo {
    line-height: calc(30px + 28px - 1.5vw);
}

.header button {
    font-size : calc(17px + 19px - 1vw);
}
.header {
	position: fixed;
	z-index: 1337;
	background-color: #1E2124;
    top: calc(30px + 28px - 1.5vw);
	height: calc(60px + 28px - 1.5vw);
	width: 100%;
	border-bottom: 2px solid #9e9e9e;
}
.header button {
    width: calc(61px + 48px - 2.5vw);
}
.header > div {
    height: 100%;
    padding: 0px;
}
.header > div:first-child {
    padding: 0px 7px;
}
.header > div > div {
    height: 100%;
    padding: 7px 0px 7px 7px;
}
.header .dropdown {
    padding: 0px 0px 0px 7px;
}
.underHeader {
    position: relative;	
    top: calc(60px + 28px - 1.5vw + 30px + 28px - 1.5vw);
    height: calc(100% - (60px + 28px - 1.5vw + 30px + 28px - 1.5vw));
}  
.bootstrap-switch-container i {
    font-size: calc(20px + 10px - .5vw);
    top: calc(3px + .5vw - 10px);
}
div.bootstrap-switch-large{
    width: 100%;
	height: 100%;
	background-color: #9e9e9e; ;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary {
   height: 120%;
   line-height: calc(12px + 90px - 5vw);
   font-size : calc(12px + 19px - 1vw);
}

.dropdown-menu > li > a {
    font-size :   calc(17px + 19px - 1vw);
}

.playlist-main {
   height : 100%;
}
.panel {
    height : 100%;
}

#progressBar {
    font-size:  calc(17px + 19px - 1vw);
}
.panel-heading {
    __font-size:  calc(17px + 19px - 1vw);
    __height: calc(63px + 15px + 48px - 2.5vw);
}
.panel-heading > div,.panel-heading > div > div, .panel-heading > div > div > div, .panel-heading > div > div > div > input {
    height: 100%;
}
 .panel-heading > div > div , .panel-heading > div > div > div, .panel-heading > div > div > div > input {
     width: 100%;
 }
.list-group-item {
    font-size:  calc(14px + 10px - .5vw);
}
body {
    font-size:  calc(155x + 28px - 1.5vw);
}

.header input {
    height: 100%;
    font-size:  calc(17px + 19px - 1vw);
}

.badge {
    font-size: calc(12px + 19px - 1vw);
}


.right-inner-addon i {
  right: 0px;
  left: auto;
}

#playlist1[canTransferKara="true"] > li {
    cursor : pointer;
}

#searchParent ::-webkit-input-placeholder {
	font-size: 2rem;
	line-height:  21px;
	height: 30px;
    text-align:right; 
	font-family: 'Glyphicons Halflings'; 
}

.popup .panel-heading {
    display: flex;
}

/* mobile */

@media (max-width: 980px) and (orientation: portrait) {
    
    #panel2 { 
        width: 100%;
    }
    #panel1 { 
        width: 100%;
    }

    html { font-size : 14px }
    
    .header {
        position: fixed;
        z-index: 1337;
        background-color: #1E2124;
        top: 60px;
        height: 115px;
        width: 100%;
        border-bottom: 2px solid #9e9e9e;
    }
    .header button {
        width: 115px;
    }
    .header input {
        padding-top: 15px; 
        padding-right: 20px;
        font-size: 60px;
        line-height: 60px;
    }
    #progressBar {
        height: 60px;
    }
    #karaInfo {
        line-height: 60px;
    }
    .underHeader {
        top: calc(115px + 60px);
        height: calc(100% - 115px - 60px);
    }
    .btn-action {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 28px;
    }

    .btn-action.btn-sm {
        width: 100px;
        height: 100px;
        font-size: 45px;
        line-height: 30px;
    }

    td, div, span {
        font-size: 30px;
        line-height: 50px;
    }

    .list-group-item .detailsKara, .list-group-item .lyricsKara {
        padding: 20px;
    } 
    .list-group-item .fullLyrics  {
        right: 80px;
    }
    .list-group-item, .contentDiv {
        font-size: 2rem;
        line-height: 100px;
    }
    .list-group-item.liType {
        min-height: 40px;
        line-height: 44px;
    }

    .header i {
        font-size: 45px;
        line-height: 75px;
        top: 0px;
    }
    div.bootstrap-switch-large{
        width: 100%;
        height: 100%;
        background-color: #9e9e9e; ;
    }

    .dragHandle {
        display: none;
    }
     
    .panel:after {
        background-position: 0 0;
    }

    .panel-heading {
        height: 115px;
    }
    .panel-heading .input-lg {
        padding-top: 15px;
        padding-right: 20px;
        font-size: 40px;
        line-height: 40px;
        height: 100%;
    }
    
    #choixPseudo::-webkit-input-placeholder {
        font-size: 50px;
        line-height: 50px;
        height: 50px;
        text-align:left; 
        padding-right: 190px;
    }

    #searchParent ::-webkit-input-placeholder {
        font-size: 60px;
        line-height:  80px;
        height: 80px;
        text-align:right; 
        font-family: 'Glyphicons Halflings'; 
    }
    
    .panel-heading ::-webkit-input-placeholder {
        font-size: 40px;
        line-height: 40px;
        height: 60px;
        text-align:right; 
        font-family: 'Glyphicons Halflings'; 
    }
    
    .select2.select2-container {
        height: 76px;
    }
    .select2-selection__rendered > span, .select2-selection > span > span > i {
        line-height: 65px;
    }

    .deleteCriteria {
        display: none !important;
    }
}

/* tablet */