
#progressBar {
    top: 0;
    cursor: auto;
    height:  calc(30px + 28px - 1.5vw);
}
#karaInfo {
    line-height: calc(30px + 28px - 1.5vw);
}

.header button {
    font-size : calc(15px + 28px - 1.5vw);
}
.header {
	position: fixed;
	z-index: 1337;
	background-color: #1E2124;
    top: calc(30px + 28px - 1.5vw);
	height: calc(60px + 48px - 2.5vw);
	width: 100%;
	border-bottom: 2px solid #9e9e9e;
}
.header button {
    width: calc(61px + 48px - 2.5vw);
}
.header div {
    height: 100%;
    padding: 0px;
}

.header .switchParent {
    padding:10px;
}
div.bootstrap-switch-large{
    width: 100%;
	height: 100%;
	background-color: #9e9e9e; ;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary {
   height: 120%;
   line-height: calc(12px + 90px - 5vw);
   font-size : calc(12px + 19px - 1vw);
}


#searchParent {
    padding: 10px;
}
#underHeader {
    top: calc(90px + 76px - 4vw);
    height : calc(100% - (90px + 96px - 5vw));
}

.dropdown-menu > li > a {
    font-size :   calc(15px + 28px - 1.5vw);
}

.playlist-main {
   height : 100%;
}
.panel {
    height : 100%;
    overflow: auto;
}

#playlist1 .list-group-item {
    background-color: #393939;
}

#progressBar {
    font-size:  calc(15px + 28px - 1.5vw);
}
.panel-heading {
    font-size:  calc(15px + 28px - 1.5vw);
}
.list-group-item {
    font-size:  calc(15px + 28px - 1.5vw);
}
body {
    font-size:  calc(155x + 28px - 1.5vw);
}

#header input {
    height: 100%;
    font-size:  calc(15px + 28px - 1.5vw);
}

.badge {
    font-size: calc(12px + 19px - 1vw);
}

::-webkit-input-placeholder {
    font-size:  calc(15px + 28px - 1.5vw);
}

:-moz-placeholder { /* Firefox 18- */
      font-size: calc(15px + 28px - 1.5vw);
}

::-moz-placeholder {  /* Firefox 19+ */
      font-size: calc(15px + 28px - 1.5vw);
}

:-ms-input-placeholder {
      font-size: calc(15px + 28px - 1.5vw);
}