html, body {
	height: 100%;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 150;
}
.underHeader {
    margin-top: -6px;
    height:calc(100% - 56px);
}
body {
    color: white;
    background-color: #444;
}

.input-field.large input[type=search], .input-field.large i {
    font-size: 2rem;
}
.collection-item i.right.small {
    margin-top: -4px;
}
.navbar-fixed-2 {
    height: 56px;
    z-index: 997;
    position: fixed;
    width: 100%;
    top: 0;
}

.collection-item {
}
.subKara {
    display: flex;
    align-items: center;
}
.contentDiv {
    flex-grow: 100;
    padding: 5px;
    padding-left: 5px;
}

.btn, .btn-large {
    color: #fff;
}

.collection .collection-item {
    padding: 3px;
}

.collection, .collection .collection-item {
    border-color: hsla(0, 0%, 93%, .6);    
}


ul.side-nav {
    background-color: #444;
}

#playlist2 {
    outline: 1px solid #486986;
}

.btn-small {
    margin: 3px;
    padding: 0 1rem;
}

#karaInfo {
    padding: 0px 10px;
	z-index: 1000;
    position: relative;
    top: 0;
}

#progressBarColor {
	background-color: #337ab7
	z-index: 0;
	height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: width 1s linear;
    -moz-transition: width 1s linear;
    -o-transition: width 1s linear;
    transition: width 1s linear;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}


#progressBar a.right {
    position: absolute;
    right: 0;
    top: 0;
}

.dragged  {
   overflow: hidden;
}   
.dragged .contentDiv {
    white-space: nowrap;
}

#searchNav {
    z-index: 1000;
}

.side-nav {
    z-index: 8000;
}


button[name="addKara"] {
    display: none;
}


#message {
	display: none;
    width: 300px;
    top: 3px;
    left: calc(50% - 150px);
    position: fixed;
    z-index: 9998;
    box-shadow: 4px 4px 3px #a5a5a5;
}


.detailsKara, .lyricsKara {
	min-height: 56px;
	padding: 10px;
	margin: 7px;
	color: #DFE9EF;
    background-color: #30393e;
    border-color: #8aa9af;
	border-radius: 0px;
	position: relative;
}
.detailsKara tr > td:first-child {
	font-weight: bold;
	padding-right: 7px;
    width: 1px;
}

.detailsKara  td, .detailsKara  th {
    padding: 5px 5px;
}

.fullLyricsMobile {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
}

.collection-item {
    touch-action: pan-y;
    -webkit-user-drag: none; 
}

#lyricsModal {
    text-align: center;
}
.fixed-action-btn {
    z-index: 5000;
}
.btn-floating.btn-large  {
    font-size: 28px;
}
.btn-floating.btn-large > i {
    font-size: 28px;
}

#switchInfoBar.showLyrics > i.infos {
    display: none;
}
#switchInfoBar:not(.showLyrics) > i.lyrics {
    display: none;
}

.noTransform {
    transform: translateX(0) !important;
}

.carousel-item:not(.active) ~ select {
    display: block !important;
    background-color: transparent;
    color: black;
    position: fixed;
    left: 0;
    top: 0;
}

select[num=2] > option {
    background-color: transparent;
    color: black;
}

.indicators {
    display:none;
}


.modal-content {
    border-radius: 0;
    border: 1px;
}

#playlist {
    height: 100% !important;
}

.fixed-action-btn.left {
    left: 23px;
    right: auto;
}