/* css admin3 */
html {
	height: 100%;
}
body {
	background-color: #1E2124;
	color: #eee;
	height: 100%;
	margin: 0;
}

.form-control {
	background-color: #f3f3f3;
}

.btn-default {
	background-color: #e8e8e8;
}

.header {
	position: fixed;
	z-index: 2337;
	background-color: #1E2124;
	top: 0;
	height: 85px;
	width: 100%;
	border-bottom: 1px solid #9e9e9e;
}

.header button {
	height: 100%;
	width: 85px;
	padding: 0px;
	margin: 0px;
	font-size: 2rem;
}

.header > .btn-group, .header img {
	height: 100%
}

#progressBar {
	cursor: pointer;
	height: 24px;
	width: 100%;
	top: 85px;
	position: fixed;
	z-index: 1337;
	border-bottom: solid 1px #9e9e9e;
	background-color: #337ab7;
}
#progressBarColor {
	z-index: 9;
	height: 100%;
    position: absolute;
	background-color: #1E2124;
	z-index: 0;
    position: absolute;
	left: 0;
    top: 0;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	backface-visibility: hidden;
	perspective: 1000;
	will-change: transform;
    transition: transform 0s linear;
}

#progressBarColor.cssTransform,
.cssTransform {
    transition: transform 1s linear;
}

#progressBar:hover  {
	background-color: #286faa;
}
#progressBar:active {
	background-color: #18617a;
}
#karaInfo {
    line-height: 1.83;
	text-align: center;
	z-index: 10;
    position: absolute;
    top: 0;
	width: 100%;
	font-weight: 600;
}
.btn-primary {
	background-color: #37679a;
}
.btn-danger {
	background-color: #973b3b;
	border-color: transparent;
}
.btn-danger:hover {
	background-color: #994240;
	border-color: #994240;
}

.btn-danger:focus:active {
	background-color: #893230;
	border-color: #893230;
}

.underHeader {
  position: relative;	
  top: 75px;
}

.playlist-main {
  padding: 7px;
}

.panel {
	border: 7px solid #1E2124;
    background-color: #2d2d2f;
    margin: 0px;
	padding: 0px;
	z-index: 0;
}

.panel-heading > div {
	padding: 2px;
}
.panel-heading {
	border-bottom: 15px solid #1E2124;
	padding: 10px 10px;
}

.bootstrap-switch-large:hover, .bootstrap-switch-large:active:hover, .bootstrap-switch-large:focus, .bootstrap-switch-large:visited {
	background-color: #9e9e9e;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
	background-color: #f4f4f4;
	color: #1E2124;
	border-color: #9e9e9e;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary:hover {
	background-color: #373737;
	color: white;
	border-color: #9e9e9e;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:hover {
	background-color: #f4f4f4;
	color: #1E2124;;
	border-color: #9e9e9e;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary{
	background-color: #1E2124;
	color: white;
}

.bootstrap-switch .bootstrap-switch-label {
	background-color: #9e9e9e; ;
}
div.bootstrap-switch-container {
    height: 100%;
	border-right: 1px solid #eee;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary {
	line-height: 2.2;
}

.btn, .bootstrap-switch, .bootstrap-switch-secondary, .bootstrap-switch-container > span  {
	border-radius: 0px !important;
}


.btn-dark, .btn-dark:focus {
	background-color: #1E2124;
	border: 0px solid #9e9e9e;
	border-left-width: 2px;
	color: white;
}
.btn-dark:hover {
	background-color: #292929;
	color: white;
}
.btn-dark:active:focus{
	background-color: #444;
	color: white;
}

select.form-control {
	width: 100% !important;
}

.list-group-item:focus {
	background-color : #5b5e54;
}
.list-group-item,.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	background-color: #3b3e44;
	border-color: #9e9e9e;
	overflow: auto;
	padding: 0px;
	_min-height: calc(30px + 19px - 1vw);
	line-height: 3rem;
}

.playlist-main li.list-group-item[currentlyPlaying] {
	background-color: #3a5064;
	
}

.playlist-main .list-group-item.liType {
	background-color: #607e97;
	padding-left: 20px;
	min-height: 20px;
	line-height: 24px;
}
.list-group-item.liTag {
	min-height: auto;
	__line-height: 36px;
}

.playlist-main .list-group-item[user]:before {
    width: 10px;
    position: absolute;
	left: 0;
	height: 100%;
    content: "\a0";
    z-index: 1000;
    border-left: 2px solid hsl(0, 0%, 83%);
}

.list-group-item.liTag > .btnDiv {
	padding: 0;
}
.list-group-item.liTag > div {
	padding-top:0;
	padding-bottom:0;
}

.list-group-item.dragged {
	border: none;
	z-index: 200;
	position: absolute;
	width: auto;
	background-color: #222 !important;
}
.list-group-item.dragged > div{
	border: 1px solid #9e9e9e;
	width: auto;
	background-color: #222;
}

.list-group-item > div {
	padding: 3px;
}

.playlistContainer > ul[side="2"] .list-group-item > .infoDiv > button, .playlistContainer > ul[side="1"] .list-group-item > .btnDiv > button, .playlistContainer > ul[side="2"] .list-group-item .dragHandle {
	float: right;
	display: block;
}

.playlistContainer > ul[side="1"] .list-group-item > .infoDiv > button, .playlistContainer > ul[side="2"] .list-group-item > .btnDiv > button, .playlistContainer > ul[side="2"] .list-group-item .dragHandle  {
	float: left;
	display: block;
}
.list-group-item > .btnDiv > button {
	z-index: 52;
	position: relative;
}

.list-group-item.dragged .dragHandle {
	margin-left: 0px;
	margin-top:3px;
	float: right;
	padding: 0px;
}
.list-group-item .dragHandle {
	height: 100%;
	margin-left: 6px;
    font-size: 2rem;
	cursor: -webkit-grab;
	float: right;
}


.btn-action {
    border: 1px solid #9e9e9e;
	background-color: #393939;
	color: white;
	display: inline-block;
}
.btn-action.btn-sm {
	__width: calc(30px + 19px - 1vw);
	__height: calc(30px + 19px - 1vw);
}
.btn-action.deleteCriteria {
    border: 1px solid #9e9e9e;
	background-color: #393939;
	width: auto;
	height: auto;
	color: white;
	display: inline-block;
}

.btn-action:hover, .btn-action:focus {
	background-color: #292929;
	color: white;
}

.btn-action:active:focus{
	background-color: #444;
	color: white;
}

.playKara {
	__border-color: transparent;
}

.playKara:hover {
	background-color: #286090;
}

.list-group-item > div.detailsKara, .lyricsKara {
	min-height: 56px;
	padding: 10px;
	margin: 7px;
	color: #cee1ea;
    background-color: #30393e;
    border-color: #8aa9af;
	border-radius: 0px;
	position: relative;
}
.detailsKara tr > td:first-child {
	font-weight: bold;
	padding-right: 7px;
}

.list-group-item .lyricsKara {
	background-color: #303340;
	text-align: center;
	text-transform: capitalize;
 }

.list-group-item .fullLyrics, button.closeParent  {
	position: absolute;
	top: 10px;
	right: 10px;
}
.list-group-item .fullLyrics  {
	right: 49px;
}

button.closeParent.bottom  {
	bottom: 10px;
	top: auto;
}
.list-group-item > .contentDiv {
	padding: 3px 7px;
	overflow: auto;
}
.list-group-item > .typeDiv {
	border-right : solid 1px #9e9e9e;
	float: left;
	padding: 0px 7px;
	display: none;
}

.playlistContainer {
	overflow: auto;
	 -webkit-overflow-scrolling: touch;
}
.playlistLoading {
	position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #3a5774;
	font-weight: 500;
	font-size: 1.6rem;
	z-index: 50;
}

.playlist-main .list-group-item {
	border-left: 0px;
	border-right: 0px;
	z-index: 20;
	background-color: rgba(57, 57, 57, .65)
}
.playlist-main ul button  {
	background-color: rgba(57, 57, 57, .7)
}
#playlist1 {
	__background-color: rgba(45, 45, 47, .5);
}
.panel-heading  {
	z-index: 40;
	background-color: #2d2d2f;
}
.playlistContainer[flipped]:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://puu.sh/xq19T/80b857cfa7.jpg) no-repeat;
	background-size: 100%;
	background-position: 0 20%;
    width: 100%;
    height: 100%;
    opacity : 0.18;
	z-index: -1;
	filter: grayscale(74%);
}
.playlistContainer[flipped="true"]:after {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.playlistContainer[noGreyFace]:after {
	filter: grayscale(18%);
    opacity : 0.38;
}

.playlistContainer > ul {
	will-change: -moz-transform;
}

#playlist1.list-group > li.list-group-item  > .btnDiv, #playlist1.list-group > li.list-group-item  > .btnDiv > span, 
#playlist2.list-group > li.list-group-item  > .infoDiv {
	float: right;
}

#playlist2.list-group > li.list-group-item  > .btnDiv, #playlist2.list-group > li.list-group-item  > .btnDiv > span,
#playlist1.list-group > li.list-group-item  > .infoDiv {
	float: left;
}

.badge {
	background-color: #555;
	border-radius: 0;
	padding: 5px 7px;
	width: 50px;
	float: right;
}

.highlight-active.playlistContainer {
	outline: 3px solid #235a42;
}
.highlight-hover.playlistContainer {
	__background-color:  #233a35;
	outline: 5px solid #235a42;
}
.dropdown-menu {
	background-color: #3b3e44;
	border: 1px solid #9e9e9e;
}
.dropdown-menu > li >a {
	color : #eee;
}

.dropdown-menu > li:hover > a {
	color : #222;
	background-color: #9e9e9e;
}

#blacklistCriteriasInputs .select2 {
	display: inline-block;
}
#blacklistCriteriasInputs input {
	height: 34px;
}
.select2-dropdown {
	z-index: 10000;
}
.panel-heading .select2 {
	width: auto !important;
	overflow:hidden;
}
.panel-heading button.btn-lg {
	height: 46px;
}

.panel-heading .select2-container--bootstrap .select2-selection--single {
	__height: 100%;
	__line-height: 2.3;
}
.select2-container--bootstrap .select2-selection--single, .select2-dropdown {
	border-radius: 0 !important;
	background-color: #f3f3f3;
	font-weight: 600;
}
.select2-container--bootstrap .select2-results__option {
	color: #555;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}
.select2-results__option > span > i, .select2-selection > span > span > i  {
	float: right;
	padding-left: 3px;
}
.select2-selection > span > span > i {
	__line-height: 2.3;
	line-height: 1.35;
}

#message {
	display: none;
    width: 400px;
    top: 3px;
    left: calc(50% - 200px);
    position: fixed;
    z-index: 9998;
    box-shadow: 4px 4px 3px #a5a5a5;
}
.contentDiv h {
	background-color : #82bdad;
	color: black;
}

button.closePopupParent {
	z-index: 9998;
	position: absolute;
	top: 5px;
	right: 5px;
	width: auto;
	height: auto;
}


.input-lg, .input-md {
	border-radius: 0;
}
.input-lg {
	padding-top: 15px;
}

/* Range input sliders */

/* standard slider */

input[type=range] {
  -webkit-appearance: none;
  width: calc(100% - 2*5px);
  margin: 20px 5px 2px 5px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
  background: #ffffff;
  border-radius: 0px;
  border: 0.1px solid rgba(0, 1, 1, 0.36);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 24px;
  width: 11px;
  border-radius: 0px;
  background: #e6e6e6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

.flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}


/* settings slider */

#settings input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 11.5px 0;
}
#settings input[type=range]:focus {
  outline: none;
}
#settings input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
  background: #ffffff;
  border-radius: 0px;
  border: 0.1px solid rgba(0, 1, 1, 0.36);
}
#settings input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 36px;
  width: 27px;
  border-radius: 0px;
  background: #e6e6e6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.6px;
}
#settings input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
#settings input[type=range]::-moz-range-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
  background: #ffffff;
  border-radius: 0px;
  border: 0.1px solid rgba(0, 1, 1, 0.36);
}
#settings input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 36px;
  width: 27px;
  border-radius: 0px;
  background: #e6e6e6;
  cursor: pointer;
}
#settings input[type=range]::-ms-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#settings input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0.1px solid rgba(0, 1, 1, 0.36);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
}
#settings input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0.1px solid rgba(0, 1, 1, 0.36);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
}
#settings input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 36px;
  width: 27px;
  border-radius: 0px;
  background: #e6e6e6;
  cursor: pointer;
  height: 13px;
}
#settings input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
#settings input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}


.secondaryIcon {
    font-size: 69%;
    margin: 9px 0px 0px -10px;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	}
	
.plDashboard, .playlistContainer, #progressBar {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.30), 0 1px 18px 0 rgba(0, 0, 0, 0.22), 0 3px 5px -1px rgba(0, 0, 0, 0.36);
	
}

#header {
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.23), 0 1px 13px 0 rgba(0, 0, 0, 0.17), 0 3px 3px -1px rgba(0, 0, 0, 0.26);
}
#progressBar {
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.37), 0 1px 18px 0 rgba(0, 0, 0, 0.32), 0 3px 5px -1px rgba(0, 0, 0, 0.36);
	
}
.plInfos {
    position: absolute;
    bottom: 0;
    right: 0;
	z-index: 40;
    font-size: 1.2rem;
    background-color: hsla(107, 17%, 25%, 0.95);
	padding: 2px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.30), 0 1px 18px 0 rgba(0, 0, 0, 0.22), 0 3px 5px -1px rgba(0, 0, 0, 0.36);
}


.plDashboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.plDashboard .plSelect {
	flex-grow: 100;
	flex-basis: 30%;
    float: left;
}
.plDashboard .plSearch {
    flex-grow: 100;
	flex-basis: 25%;
    float: right;
}

#modalBox {
	z-index: 10000;
}

#modalBox .modal-body {
	max-height:  calc(100vh - 117px);
	overflow-y: auto;
}

#modalBox .modal-content {
	color: #eee;
	background-color:#3a3c45
}
#modalBox .modal-footer {
	display: flex;
    justify-content: flex-end;
	padding: 5px;
}
#modalBox .modal-footer > button {
	order: 0;
	margin-left: 5px;
}
#modalBox .modal-header {
	padding: 12px 15px;
}

#modalBox button.ok {
	background-color: hsla(139, 14%, 22%, 1);
}
#modalBox button:not(.ok) {
	background-color: hsla(0, 17%, 22%, 1);
}

/* placeholders */

.panel-heading ::-webkit-input-placeholder {
    font-size: 2rem;
	line-height:  21px;
	height: 20px;
    text-align:right; 
    font-family: 'Glyphicons Halflings'; 
}

.panel-heading  ::-moz-placeholder {  /* Firefox 19+ */
	font-size: 2rem;
	line-height:  21px;
	height: 20px;
    text-align:right; 
    font-family: 'Glyphicons Halflings'; 
}
.panel-heading  :-ms-input-placeholder {
	font-size: 2rem;
	line-height:  21px;
	height: 20px;
    text-align:right; 
    font-family: 'Glyphicons Halflings'; 
}
