
.lignForm {
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
	
	div {
		width: 130px;
		margin: 5px;
	}

	select,input {
		width: 200px;
		background-color: #f3f3f3;
		border: 1px solid #ccc;
		color:black;
		border-radius: 0;
		border-color:#fafafa70;
	}
}
