.KmAppHeaderDecorator {
	display: flex;
	flex-direction: row;

	> * {
		order:50; // default element order -> play arround to reorder elements
	}

	min-height:75px;
	background-color: #1E2124;
	width: 100%;
	border-bottom: solid 1px hsla(0, 0%, 35%, 1);
	
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.23), 0 1px 12px 0 rgba(0, 0, 0, 0.17), 0 2px 2px -1px rgba(0, 0, 0, 0.26);
	
	div .btn {
		height: 100%;
	}

	.btn {
		position: relative;
		min-width: 75px;
		border: none;
		border-left: 1px solid rgba(#fff,0.1);
		border-radius: 0;
		margin: 0;
		padding: 0;
		font-size: 1.5em;
	}

	.dropdown {
		order:99;
		.dropdown-menu {
			font-size :   1.5em;
			left: initial;
			right: 0;
		}
	}

	&[data-mode="admin"] {
		.header-group.switchs {
			display: flex;
			flex-direction: column;
			> * {
				flex:1;
			}
			label {
				margin: 8px;
				text-align: end;
			}
			div {
				height: 50%;
				min-width: 20em;
			}
		}

		@media (max-width: 1023px) {  
			.header-group.switchs {
				display: none;
			}
			.btn {
				min-width: 55px;
			}
		}

		.header-group.controls {
			flex:auto;
			text-align: center;
			@media (max-width:1100px) {
				.btn {
					font-size: 1em;
					min-width: 50px;
				}
			}
			@media (max-width:920px) {
				flex-wrap: wrap;
				> * {
					width: 33.33%;
				}
			}
		}

		.volumeButton,
		.subtitleButton,
		.messageButton {
			order:90;
		}

		.volumeButton {
			input[type=range] {
				-webkit-appearance: none;
				margin: 0;
				position: absolute;
				bottom: 0;
				width: inherit;
				width: 100%;
			}
		}
	}

	&[data-mode="public"] {

	    .btn.favorites.on {
	        color: firebrick;
	    }
	    
	    .plSearch {
	    	flex:1;
	    	position: relative;
	    	.fas {
	    		position: absolute;
	    		top: 50%;
	    		right: 1em;
	    		transform:translateY(-50%);
	    		font-size: 1.5em;
	    	}
	    	input {
				height: 100%;
				border-radius: 0px;
				padding-right: 2em;
	    	}
	    }

	    .getLucky img {
	        height: 2em;
	        margin: 0 .5em;
	    }

	    .switchParent .radiobutton-ui {
	    	height: 100%;
	    	display: flex;
	    	flex-direction: column;
	    	button {
	    		padding: 0 0.5em;
	    	}
	    }
	}
}