@font-face {
	font-family: 'Lato';
	src: url('/src/frontend/styles/fonts/Lato/Lato-Regular.eot');
	src:
		url('/src/frontend/styles/fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('/src/frontend/styles/fonts/Lato/Lato-Regular.woff2') format('woff2'),
		url('/src/frontend/styles/fonts/Lato/Lato-Regular.woff') format('woff'),
		url('/src/frontend/styles/fonts/Lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('/src/frontend/styles/fonts/Lato/Lato-Bold.eot');
	src:
		url('/src/frontend/styles/fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('/src/frontend/styles/fonts/Lato/Lato-Bold.woff2') format('woff2'),
		url('/src/frontend/styles/fonts/Lato/Lato-Bold.woff') format('woff'),
		url('/src/frontend/styles/fonts/Lato/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('/src/frontend/styles/fonts/Lato/Lato-Light.eot');
	src:
		url('/src/frontend/styles/fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('/src/frontend/styles/fonts/Lato/Lato-Light.woff2') format('woff2'),
		url('/src/frontend/styles/fonts/Lato/Lato-Light.woff') format('woff'),
		url('/src/frontend/styles/fonts/Lato/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
